In [2]:
# Импортируем pandas для обработки данных

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Загружаем таблицу с информацией о клиентах

clients = pd.read_csv('clients2.csv')

clients.head(3)

,client_id,client_id.1,first_issue_date,first_redeem_date,age,gender
0,000012768d,NaN,2017-08-05 15:40:48,2018-01-04 19:30:07,45,U
1,000036f903,NaN,2017-04-10 13:54:23,2017-04-23 12:37:56,72,F
2,00010925a5,NaN,2018-07-24 16:21:29,2018-09-14 16:12:49,83,U

In [4]:
# Удалим колонку с пустыми значениями

clients = clients.drop('client_id.1', axis = 1)

In [5]:
# Загружаем таблицу с информацией о том, было ли воздействие маркетинговой компанией
# на клиента и была ли совершена покупка 

train = pd.read_csv('train.csv')

train.head(3)

    client_id  treatment_flg  purchased
0  ad6561e2d8              1          1
1  7c1ccbf93f              1          1
2  b58fadcab6              1          1

In [6]:
# Необходимо ввести таргетную переменную, которая равна:
# 1 - если было воздействи и клиент купил, не было воздействия и клиент не купил
# 0 - во всех остальных случаях
# т.е. применяем метод трансформации классов: Z = Y * W + (1 - Y) * (1 - W)

train['target'] = train['purchased'] * train['treatment_flg'] + (1 - train['purchased']) * (1 - train['treatment_flg'])

train.head(3)

    client_id  treatment_flg  purchased  target
0  ad6561e2d8              1          1       1
1  7c1ccbf93f              1          1       1
2  b58fadcab6              1          1       1

In [7]:
# Переводим столбцы с датами и временем в формат datetime

clients['first_issue_date'] = pd.to_datetime(clients['first_issue_date'])

clients['first_redeem_date'] = pd.to_datetime(clients['first_redeem_date'])

In [8]:
# Заменим пропуски в колонке с первой датой списания на последнбб дату в колонке

clients['first_redeem_date'].fillna(clients.first_redeem_date.max(), inplace=True)

In [9]:
# Извлекаем информацию о месяце и дне недели и добавляем в соответствующие колонки

clients['year_issue'] = clients.first_issue_date.dt.year
clients['month_issue'] = clients.first_issue_date.dt.month
clients['day_issue'] = clients.first_issue_date.dt.day

clients['year_redeem'] = clients.first_redeem_date.dt.year
clients['month_redeem'] = clients.first_redeem_date.dt.month
clients['day_redeem'] = clients.first_redeem_date.dt.day

clients.head(3)

,client_id,first_issue_date,first_redeem_date,age,gender,year_issue,month_issue,day_issue,year_redeem,month_redeem,day_redeem
0,000012768d,2017-08-05 15:40:48,2018-01-04 19:30:07,45,U,2017,8,5,2018,1,4
1,000036f903,2017-04-10 13:54:23,2017-04-23 12:37:56,72,F,2017,4,10,2017,4,23
2,00010925a5,2018-07-24 16:21:29,2018-09-14 16:12:49,83,U,2018,7,24,2018,9,14

In [10]:
# Вычисляем разницу в днях между датой списания и выпуска

clients['days_between_issue_and_redeem'] = (clients['first_redeem_date'] - clients['first_issue_date']).dt.days

In [11]:
# Заменим средним выбросы в колонке возраст

q1, q3 = clients.age.quantile(0.25), clients.age.quantile(0.75)

iqr = q3 - q1

lower_bound = q1 - iqr
upper_bound = q3 + iqr

mask = (clients['age'] < lower_bound) | (clients['age'] > upper_bound)

mean = clients['age'].mean()

clients.loc[mask, 'age'] = mean

In [12]:
# Разобьем клиентов на возрастные категории

bins = [0, 18, 25, 35, 45, 55, 65, 100]

labels = ['age_<18', 'age_18-24', 'age_25-34', 'age_35-44', 'age_45-54', 'age_55-64', 'age_>=65']

clients['age_category'] = pd.cut(clients['age'], bins=bins, labels=labels, right = False)

clients.isna().sum()

client_id                        0
first_issue_date                 0
first_redeem_date                0
age                              0
gender                           0
year_issue                       0
month_issue                      0
day_issue                        0
year_redeem                      0
month_redeem                     0
day_redeem                       0
days_between_issue_and_redeem    0
age_category                     0
dtype: int64

In [13]:
# Разобьем клиентов на категории по времени владения картой покупателя

bins = [-50, 50, 100, 200, 1000]

labels = ['card_days_<50', 'card_days_50-99', 'card_days_100-199', 'card_days_>=200']

clients['card_owning'] = pd.cut(clients['days_between_issue_and_redeem'], bins=bins, labels=labels, right = False)

clients.isna().sum()

client_id                        0
first_issue_date                 0
first_redeem_date                0
age                              0
gender                           0
year_issue                       0
month_issue                      0
day_issue                        0
year_redeem                      0
month_redeem                     0
day_redeem                       0
days_between_issue_and_redeem    0
age_category                     0
card_owning                      0
dtype: int64

In [14]:
# Загружаем таблицу с информацией о покупках клиентов

train_purch = pd.read_csv('train_purch.csv')

train_purch.head(3)

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN

In [15]:
# Заменим нулями пропуски

train_purch['trn_sum_from_red'].fillna(0, inplace=True)

In [16]:
# Переводим колонку transaction_datetime в формат datetime

train_purch['transaction_datetime'] = pd.to_datetime(train_purch['transaction_datetime'])

In [17]:
# Загружаем таблицу с информацией о продуктах

products = pd.read_csv('products.csv')

products.head(3)

,product_id,level_1,level_2,level_3,level_4,segment_id,brand_id,vendor_id,netto,is_own_trademark,is_alcohol
0,0003020d3c,c3d3a8e8c6,c2a3ea8d5e,b7cda0ec0c,6376f2a852,123.0,394a54a7c1,9eaff48661,0.40,0,0
1,0003870676,e344ab2e71,52f13dac0c,d3cfe81323,6dc544533f,105.0,acd3dd483f,10486c3cf0,0.68,0,0
2,0003ceaf69,c3d3a8e8c6,f2333c90fb,419bc5b424,f6148afbc0,271.0,f597581079,764e660dda,0.50,0,0

In [18]:
cols = ['level_1','level_2','level_3','level_4']
for column in cols:
    
    mode = products[column].mode()[0]
    
    products[column] = products[column].fillna(mode)
    
    products[column] = products[column].apply(lambda x: int(x, 16) / 10 ** 12)

In [19]:
# Устанавливаем айди продукта в качестве индекса

products = products.set_index('product_id')

## Проверим трейновые и тестовые данные на однородность с помощью метода adversarial validation.

Добавим в трейновую выборку колонку с "таргетом" 0, а в тестовую - с "таргетом" 1. 
Объединим два датафрейма и обучим модель классификации. Замерим качество модели с помощью ROC-AUC.
Если качество будет примерно равно 0,5, т.е. модель разделяет выборки случайно, значит они однородны.

In [20]:
# Загружаем таблицу с информацией о покупках клиентов, для которых делаем предсказание

test_purch = pd.read_csv('test_purch.csv')

test_purch.head(3)

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,00010925a5,e91ffe5b50,2018-11-25 10:56:18,1.5,0.0,0.0,0.0,303.0,76d287ce03,a375a035b9,2.0,50.0,NaN
1,00010925a5,e91ffe5b50,2018-11-25 10:56:18,1.5,0.0,0.0,0.0,303.0,76d287ce03,6f9e02ee36,1.0,90.0,NaN
2,00010925a5,e91ffe5b50,2018-11-25 10:56:18,1.5,0.0,0.0,0.0,303.0,76d287ce03,42e1eb8d23,1.0,20.0,NaN

In [21]:
# Заменим нулями пропуски в trn_sum_from_red, т.к. в трейне тоже заменяли

test_purch['trn_sum_from_red'].fillna(0, inplace=True)

In [22]:
# Копируем датасеты

train_AV = train_purch.copy()
test_AV = test_purch.copy()

# Добавляем колонки с "таргетами"

train_AV['AV_label'] = 0
test_AV['AV_label'] = 1

# Объединим два датасета

all_data = pd.concat([train_AV, test_AV], axis=0, ignore_index=True)

# Удалим лишние колонки

all_data = all_data.drop(['transaction_datetime', 'client_id', 'transaction_id'], axis=1)

# Перемешаем данные

all_data_shuffled = all_data.sample(frac=1)

# Разделим признаки и таргет

X_AV = all_data_shuffled.drop(['AV_label'], axis=1)
y_AV = all_data_shuffled['AV_label']

In [23]:
# Разделим данные на трейн и тест

from sklearn.model_selection import train_test_split



X_train_AV, X_test_AV, Y_train_AV, Y_test_AV = train_test_split(X_AV,
                                                                y_AV,
                                                                test_size=0.2,
                                                                random_state=9
                                                               )

In [24]:
# Вычислим отношение классов, чтобы учесть при обучении модели

len(train_AV[train_AV['AV_label'] == 0]) / (len(test_AV) + len(train_AV)), 
len(test_AV[test_AV['AV_label'] == 1]) / (len(test_AV) + len(train_AV))

0.30082730657977713

In [26]:
# Обучим catboost с учетом баланса классов

from catboost import CatBoostClassifier


cat_AV = CatBoostClassifier(cat_features = ['store_id', 'product_id'],
                            n_estimators = 100,
                            class_weights=[0.7, 0.3])

cat_AV.fit(X_train_AV, Y_train_AV)

Learning rate set to 0.5
0:	learn: 0.5142311	total: 5.02s	remaining: 8m 17s
1:	learn: 0.4596032	total: 7.48s	remaining: 6m 6s
2:	learn: 0.4283182	total: 10.7s	remaining: 5m 47s
3:	learn: 0.4161427	total: 14.1s	remaining: 5m 37s
4:	learn: 0.4113938	total: 17.6s	remaining: 5m 34s
5:	learn: 0.4095341	total: 19.5s	remaining: 5m 5s
6:	learn: 0.4088047	total: 21.7s	remaining: 4m 47s
7:	learn: 0.4084975	total: 24.1s	remaining: 4m 37s
8:	learn: 0.4083429	total: 25.9s	remaining: 4m 22s
9:	learn: 0.4082377	total: 28.6s	remaining: 4m 17s
10:	learn: 0.4081842	total: 31s	remaining: 4m 11s
11:	learn: 0.4081516	total: 33.5s	remaining: 4m 5s
12:	learn: 0.4081083	total: 36.5s	remaining: 4m 4s
13:	learn: 0.4080923	total: 39.6s	remaining: 4m 3s
14:	learn: 0.4080758	total: 41.9s	remaining: 3m 57s
15:	learn: 0.4080462	total: 45.5s	remaining: 3m 58s
16:	learn: 0.4080266	total: 48.5s	remaining: 3m 56s
17:	learn: 0.4079974	total: 51.3s	remaining: 3m 53s
18:	learn: 0.4079837	total: 54.4s	remaining: 3m 51s
19:	learn: 0.4079753	total: 57.2s	remaining: 3m 48s
20:	learn: 0.4079644	total: 59.4s	remaining: 3m 43s
21:	learn: 0.4079478	total: 1m 1s	remaining: 3m 39s
22:	learn: 0.4079193	total: 1m 3s	remaining: 3m 33s
23:	learn: 0.4079061	total: 1m 6s	remaining: 3m 29s
24:	learn: 0.4078893	total: 1m 8s	remaining: 3m 24s
25:	learn: 0.4078821	total: 1m 10s	remaining: 3m 19s
26:	learn: 0.4078695	total: 1m 12s	remaining: 3m 15s
27:	learn: 0.4078503	total: 1m 14s	remaining: 3m 10s
28:	learn: 0.4078317	total: 1m 16s	remaining: 3m 7s
29:	learn: 0.4078097	total: 1m 18s	remaining: 3m 4s
30:	learn: 0.4077965	total: 1m 21s	remaining: 3m
31:	learn: 0.4077824	total: 1m 23s	remaining: 2m 57s
32:	learn: 0.4077659	total: 1m 25s	remaining: 2m 53s
33:	learn: 0.4077562	total: 1m 28s	remaining: 2m 51s
34:	learn: 0.4077507	total: 1m 30s	remaining: 2m 47s
35:	learn: 0.4077362	total: 1m 32s	remaining: 2m 43s
36:	learn: 0.4077264	total: 1m 34s	remaining: 2m 40s
37:	learn: 0.4077201	total: 1m 36s	remaining: 2m 37s
38:	learn: 0.4077131	total: 1m 41s	remaining: 2m 39s
39:	learn: 0.4076966	total: 1m 45s	remaining: 2m 38s
40:	learn: 0.4076887	total: 1m 50s	remaining: 2m 39s
41:	learn: 0.4076728	total: 1m 53s	remaining: 2m 36s
42:	learn: 0.4076691	total: 1m 57s	remaining: 2m 35s
43:	learn: 0.4076632	total: 1m 59s	remaining: 2m 32s
44:	learn: 0.4076581	total: 2m 1s	remaining: 2m 28s
45:	learn: 0.4076519	total: 2m 5s	remaining: 2m 26s
46:	learn: 0.4076414	total: 2m 7s	remaining: 2m 23s
47:	learn: 0.4076367	total: 2m 9s	remaining: 2m 19s
48:	learn: 0.4076250	total: 2m 10s	remaining: 2m 16s
49:	learn: 0.4076101	total: 2m 13s	remaining: 2m 13s
50:	learn: 0.4076077	total: 2m 15s	remaining: 2m 9s
51:	learn: 0.4076023	total: 2m 18s	remaining: 2m 7s
52:	learn: 0.4075911	total: 2m 21s	remaining: 2m 5s
53:	learn: 0.4075836	total: 2m 24s	remaining: 2m 2s
54:	learn: 0.4075742	total: 2m 26s	remaining: 1m 59s
55:	learn: 0.4075682	total: 2m 28s	remaining: 1m 56s
56:	learn: 0.4075490	total: 2m 30s	remaining: 1m 53s
57:	learn: 0.4075303	total: 2m 32s	remaining: 1m 50s
58:	learn: 0.4075218	total: 2m 35s	remaining: 1m 47s
59:	learn: 0.4075179	total: 2m 37s	remaining: 1m 44s
60:	learn: 0.4075130	total: 2m 39s	remaining: 1m 42s
61:	learn: 0.4075105	total: 2m 41s	remaining: 1m 39s
62:	learn: 0.4075039	total: 2m 43s	remaining: 1m 36s
63:	learn: 0.4074889	total: 2m 46s	remaining: 1m 33s
64:	learn: 0.4074816	total: 2m 51s	remaining: 1m 32s
65:	learn: 0.4074727	total: 2m 54s	remaining: 1m 30s
66:	learn: 0.4074665	total: 2m 57s	remaining: 1m 27s
67:	learn: 0.4074552	total: 2m 59s	remaining: 1m 24s
68:	learn: 0.4074502	total: 3m 2s	remaining: 1m 22s
69:	learn: 0.4074438	total: 3m 4s	remaining: 1m 19s
70:	learn: 0.4074367	total: 3m 6s	remaining: 1m 16s
71:	learn: 0.4074273	total: 3m 8s	remaining: 1m 13s
72:	learn: 0.4074182	total: 3m 11s	remaining: 1m 10s
73:	learn: 0.4074135	total: 3m 13s	remaining: 1m 7s
74:	learn: 0.4074074	total: 3m 16s	remaining: 1m 5s
75:	learn: 0.4074023	total: 3m 18s	remaining: 1m 2s
76:	learn: 0.4073954	total: 3m 21s	remaining: 1m
77:	learn: 0.4073899	total: 3m 23s	remaining: 57.4s
78:	learn: 0.4073850	total: 3m 25s	remaining: 54.7s
79:	learn: 0.4073798	total: 3m 28s	remaining: 52s
80:	learn: 0.4073672	total: 3m 30s	remaining: 49.3s
81:	learn: 0.4073581	total: 3m 32s	remaining: 46.7s
82:	learn: 0.4073509	total: 3m 35s	remaining: 44.1s
83:	learn: 0.4073440	total: 3m 37s	remaining: 41.5s
84:	learn: 0.4073407	total: 3m 41s	remaining: 39s
85:	learn: 0.4073351	total: 3m 43s	remaining: 36.4s
86:	learn: 0.4073303	total: 3m 46s	remaining: 33.9s
87:	learn: 0.4073222	total: 3m 49s	remaining: 31.3s
88:	learn: 0.4073137	total: 3m 51s	remaining: 28.6s
89:	learn: 0.4073073	total: 3m 53s	remaining: 26s
90:	learn: 0.4072964	total: 3m 56s	remaining: 23.4s
91:	learn: 0.4072939	total: 3m 59s	remaining: 20.8s
92:	learn: 0.4072890	total: 4m 1s	remaining: 18.2s
93:	learn: 0.4072809	total: 4m 3s	remaining: 15.5s
94:	learn: 0.4072706	total: 4m 6s	remaining: 13s
95:	learn: 0.4072605	total: 4m 9s	remaining: 10.4s
96:	learn: 0.4072557	total: 4m 11s	remaining: 7.77s
97:	learn: 0.4072510	total: 4m 13s	remaining: 5.17s
98:	learn: 0.4072449	total: 4m 15s	remaining: 2.58s
99:	learn: 0.4072362	total: 4m 17s	remaining: 0us

In [27]:
# Вычислим значение ROC-AUC

from sklearn.metrics import roc_auc_score

print(f'ROC-AUC тренировочной выборки {roc_auc_score(Y_train_AV, cat_AV.predict_proba(X_train_AV)[:, 1])}')
print(f'ROC-AUC тестовой выборки {roc_auc_score(Y_test_AV, cat_AV.predict_proba(X_test_AV)[:, 1])}')

ROC-AUC тренировочной выборки 0.6726687376153501
ROC-AUC тестовой выборки 0.6703018534278841

Видно, что модель достаточно неплохо умеет разделять тренировочнкую и тестовую выборки. Посмотрим с помощью каких признаков

In [28]:
# Вызовем метод get_feature_importance, с помощью которого посмотрим на важность признаков

cat_AV.get_feature_importance(prettified=True)

                Feature Id  Importances
0                 store_id    79.942620
1             purchase_sum     8.216231
2  regular_points_received     4.960821
3     regular_points_spent     2.821309
4               product_id     1.568855
5         trn_sum_from_iss     1.169012
6     express_points_spent     0.937508
7  express_points_received     0.204691
8         product_quantity     0.139766
9         trn_sum_from_red     0.039188

In [29]:
# Удалим признак store_id и заново обучим модель

X_AV_drop = X_AV.drop(['store_id'], axis=1)

# Заново сделаем разделение 

X_train_AV_drop, X_test_AV_drop, Y_train_AV, Y_test_AV = train_test_split(X_AV_drop,
                                                                y_AV,
                                                                test_size=0.2,
                                                                random_state=9
                                                               )

# Обучим модель

cat_AV_drop = CatBoostClassifier(cat_features = ['product_id'],
                            n_estimators = 100,
                            class_weights=[0.7, 0.3])

                                                 
cat_AV_drop.fit(X_train_AV_drop, Y_train_AV)

# Посчитаем ROC-AUC

print(f'ROC-AUC тренировочной выборки {roc_auc_score(Y_train_AV, cat_AV_drop.predict_proba(X_train_AV_drop)[:, 1])}')
print(f'ROC-AUC тестовой выборки {roc_auc_score(Y_test_AV, cat_AV_drop.predict_proba(X_test_AV_drop)[:, 1])}')

Learning rate set to 0.5
0:	learn: 0.5142305	total: 3.37s	remaining: 5m 33s
1:	learn: 0.4596035	total: 5.53s	remaining: 4m 30s
2:	learn: 0.4410208	total: 7.23s	remaining: 3m 53s
3:	learn: 0.4350027	total: 9.27s	remaining: 3m 42s
4:	learn: 0.4331985	total: 10.9s	remaining: 3m 26s
5:	learn: 0.4326928	total: 12.5s	remaining: 3m 15s
6:	learn: 0.4325582	total: 15s	remaining: 3m 19s
7:	learn: 0.4324359	total: 18.5s	remaining: 3m 32s
8:	learn: 0.4324029	total: 22.2s	remaining: 3m 44s
9:	learn: 0.4323870	total: 24.4s	remaining: 3m 39s
10:	learn: 0.4323806	total: 25.9s	remaining: 3m 29s
11:	learn: 0.4323664	total: 27.3s	remaining: 3m 20s
12:	learn: 0.4323617	total: 28.8s	remaining: 3m 12s
13:	learn: 0.4323480	total: 31.1s	remaining: 3m 10s
14:	learn: 0.4323433	total: 32.6s	remaining: 3m 4s
15:	learn: 0.4323359	total: 34.1s	remaining: 2m 58s
16:	learn: 0.4323337	total: 35.5s	remaining: 2m 53s
17:	learn: 0.4323241	total: 36.8s	remaining: 2m 47s
18:	learn: 0.4323184	total: 38.4s	remaining: 2m 43s
19:	learn: 0.4323085	total: 39.8s	remaining: 2m 39s
20:	learn: 0.4322992	total: 41.3s	remaining: 2m 35s
21:	learn: 0.4322908	total: 42.8s	remaining: 2m 31s
22:	learn: 0.4322869	total: 44.4s	remaining: 2m 28s
23:	learn: 0.4322810	total: 45.8s	remaining: 2m 25s
24:	learn: 0.4322719	total: 48.3s	remaining: 2m 24s
25:	learn: 0.4322615	total: 51.4s	remaining: 2m 26s
26:	learn: 0.4322492	total: 53.6s	remaining: 2m 24s
27:	learn: 0.4322471	total: 55.5s	remaining: 2m 22s
28:	learn: 0.4322380	total: 57.9s	remaining: 2m 21s
29:	learn: 0.4322368	total: 59.7s	remaining: 2m 19s
30:	learn: 0.4322287	total: 1m 6s	remaining: 2m 27s
31:	learn: 0.4322222	total: 1m 12s	remaining: 2m 34s
32:	learn: 0.4322210	total: 1m 15s	remaining: 2m 33s
33:	learn: 0.4322153	total: 1m 19s	remaining: 2m 34s
34:	learn: 0.4322135	total: 1m 23s	remaining: 2m 35s
35:	learn: 0.4322034	total: 1m 25s	remaining: 2m 31s
36:	learn: 0.4321962	total: 1m 28s	remaining: 2m 30s
37:	learn: 0.4321907	total: 1m 29s	remaining: 2m 26s
38:	learn: 0.4321849	total: 1m 31s	remaining: 2m 23s
39:	learn: 0.4321781	total: 1m 33s	remaining: 2m 20s
40:	learn: 0.4321747	total: 1m 35s	remaining: 2m 17s
41:	learn: 0.4321695	total: 1m 37s	remaining: 2m 14s
42:	learn: 0.4321645	total: 1m 38s	remaining: 2m 10s
43:	learn: 0.4321604	total: 1m 40s	remaining: 2m 7s
44:	learn: 0.4321551	total: 1m 41s	remaining: 2m 4s
45:	learn: 0.4321538	total: 1m 43s	remaining: 2m 1s
46:	learn: 0.4321522	total: 1m 45s	remaining: 1m 58s
47:	learn: 0.4321455	total: 1m 46s	remaining: 1m 55s
48:	learn: 0.4321401	total: 1m 49s	remaining: 1m 53s
49:	learn: 0.4321344	total: 1m 51s	remaining: 1m 51s
50:	learn: 0.4321273	total: 1m 53s	remaining: 1m 49s
51:	learn: 0.4321217	total: 1m 55s	remaining: 1m 47s
52:	learn: 0.4321155	total: 1m 58s	remaining: 1m 44s
53:	learn: 0.4321140	total: 2m	remaining: 1m 42s
54:	learn: 0.4321113	total: 2m 3s	remaining: 1m 41s
55:	learn: 0.4321090	total: 2m 5s	remaining: 1m 38s
56:	learn: 0.4321070	total: 2m 7s	remaining: 1m 36s
57:	learn: 0.4321023	total: 2m 9s	remaining: 1m 33s
58:	learn: 0.4320955	total: 2m 11s	remaining: 1m 31s
59:	learn: 0.4320920	total: 2m 12s	remaining: 1m 28s
60:	learn: 0.4320800	total: 2m 14s	remaining: 1m 25s
61:	learn: 0.4320740	total: 2m 15s	remaining: 1m 23s
62:	learn: 0.4320661	total: 2m 17s	remaining: 1m 20s
63:	learn: 0.4320597	total: 2m 19s	remaining: 1m 18s
64:	learn: 0.4320541	total: 2m 23s	remaining: 1m 17s
65:	learn: 0.4320526	total: 2m 25s	remaining: 1m 14s
66:	learn: 0.4320503	total: 2m 27s	remaining: 1m 12s
67:	learn: 0.4320484	total: 2m 29s	remaining: 1m 10s
68:	learn: 0.4320457	total: 2m 30s	remaining: 1m 7s
69:	learn: 0.4320398	total: 2m 33s	remaining: 1m 5s
70:	learn: 0.4320371	total: 2m 35s	remaining: 1m 3s
71:	learn: 0.4320297	total: 2m 36s	remaining: 1m
72:	learn: 0.4320293	total: 2m 38s	remaining: 58.5s
73:	learn: 0.4320267	total: 2m 39s	remaining: 56.1s
74:	learn: 0.4320189	total: 2m 41s	remaining: 53.7s
75:	learn: 0.4320137	total: 2m 42s	remaining: 51.5s
76:	learn: 0.4320105	total: 2m 44s	remaining: 49.2s
77:	learn: 0.4320098	total: 2m 46s	remaining: 46.9s
78:	learn: 0.4320053	total: 2m 47s	remaining: 44.6s
79:	learn: 0.4319973	total: 2m 49s	remaining: 42.4s
80:	learn: 0.4319900	total: 2m 51s	remaining: 40.2s
81:	learn: 0.4319860	total: 2m 52s	remaining: 37.9s
82:	learn: 0.4319849	total: 2m 54s	remaining: 35.7s
83:	learn: 0.4319807	total: 2m 56s	remaining: 33.5s
84:	learn: 0.4319726	total: 2m 58s	remaining: 31.4s
85:	learn: 0.4319647	total: 3m	remaining: 29.3s
86:	learn: 0.4319587	total: 3m 3s	remaining: 27.4s
87:	learn: 0.4319582	total: 3m 4s	remaining: 25.2s
88:	learn: 0.4319498	total: 3m 8s	remaining: 23.3s
89:	learn: 0.4319427	total: 3m 12s	remaining: 21.4s
90:	learn: 0.4319380	total: 3m 14s	remaining: 19.2s
91:	learn: 0.4319328	total: 3m 17s	remaining: 17.1s
92:	learn: 0.4319298	total: 3m 18s	remaining: 14.9s
93:	learn: 0.4319229	total: 3m 21s	remaining: 12.8s
94:	learn: 0.4319207	total: 3m 23s	remaining: 10.7s
95:	learn: 0.4319194	total: 3m 25s	remaining: 8.58s
96:	learn: 0.4319187	total: 3m 28s	remaining: 6.44s
97:	learn: 0.4319166	total: 3m 31s	remaining: 4.31s
98:	learn: 0.4319101	total: 3m 33s	remaining: 2.16s
99:	learn: 0.4319064	total: 3m 36s	remaining: 0us
ROC-AUC тренировочной выборки 0.5255281137937167
ROC-AUC тестовой выборки 0.5171952284078498

Теперь модель классифицирует практически случайно, а значит выборки стали однородны.

In [22]:
# Удаляем признак id_store из основных датасетов

train_purch = train_purch.drop(['store_id'], axis=1)
test_purch = test_purch.drop(['store_id'], axis=1)

In [110]:
# Создаем новую таблицу с датой первой и последней покупки для каждого клиента
# и разницу в днях между датами

purch_diff = train_purch.groupby('client_id')['transaction_datetime'].agg(['min', 'max'])

purch_diff['days_between_first_and_last_purchase'] = (purch_diff['max'] - purch_diff['min']).dt.days

purch_diff.head(3)

,min,max,days_between_first_and_last_purchase
client_id,,,
000012768d,2018-12-01 07:12:45,2019-03-14 15:01:47,103
000036f903,2018-11-28 10:48:36,2019-03-17 10:29:37,108
0001f552b0,2018-11-24 07:14:43,2019-03-16 10:54:02,112

In [24]:
# Объединяем таблицу с транзакциями с таблицей products

train_purch_prod = train_purch.merge(products, left_on = 'product_id', right_on = 'product_id')


train_purch_prod.head()

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_id,product_quantity,...,level_1,level_2,level_3,level_4,segment_id,brand_id,vendor_id,netto,is_own_trademark,is_alcohol
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.00,9a80204f78,2.0,...,0.97611,1.018626,0.766042,0.349578,116.0,082560ca58,63243765ed,0.031,0,0
1,0027aac018,7be996a830,2018-12-08 14:46:14,1.0,0.0,-21.0,0.0,229.00,9a80204f78,1.0,...,0.97611,1.018626,0.766042,0.349578,116.0,082560ca58,63243765ed,0.031,0,0
2,00b19bc224,1001a6e6cb,2019-01-02 14:12:39,4.0,0.0,0.0,0.0,403.49,9a80204f78,1.0,...,0.97611,1.018626,0.766042,0.349578,116.0,082560ca58,63243765ed,0.031,0,0
3,00bb1bb4e8,c79c6f1815,2019-01-03 17:15:43,62.9,0.0,0.0,0.0,6893.00,9a80204f78,1.0,...,0.97611,1.018626,0.766042,0.349578,116.0,082560ca58,63243765ed,0.031,0,0
4,00e38f656d,c85b58be92,2019-03-15 14:37:08,32.5,0.0,-496.0,0.0,4480.00,9a80204f78,1.0,...,0.97611,1.018626,0.766042,0.349578,116.0,082560ca58,63243765ed,0.031,0,0

In [25]:
# Группируем по айди клиента, транзакции и вычисляем среднее

train_purch_prod_mean = train_purch_prod.groupby(['client_id', 'transaction_id'], as_index=False).mean()
train_purch_prod_mean

,client_id,transaction_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,level_1,level_2,level_3,level_4,segment_id,netto,is_own_trademark,is_alcohol
0,000012768d,6a0e96d0bc,8.0,0.0,0.0,0.0,803.00,0.812500,50.250000,0.0,0.925470,0.586136,0.542682,0.456485,112.562500,0.640312,0.062500,0.0
1,000012768d,7e3e2e3984,10.0,0.0,0.0,0.0,1007.00,1.105263,53.000000,0.0,0.919251,0.571095,0.560379,0.534957,134.631579,0.411526,0.105263,0.0
2,000012768d,b34f23306e,2.0,0.0,0.0,0.0,419.00,1.000000,69.833333,0.0,0.886083,0.639724,0.521049,0.443040,154.166667,0.633333,0.000000,0.0
3,000012768d,c1ca85d462,5.7,0.0,0.0,0.0,574.00,1.272727,52.272727,0.0,0.906012,0.738967,0.679766,0.494065,131.600000,0.566182,0.090909,0.0
4,000036f903,0a3d640bf4,7.0,0.0,0.0,0.0,700.00,1.000000,87.500000,0.0,0.891710,0.366123,0.432411,0.579088,114.000000,0.515000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2814993,fffeca6d22,c8eb70dca7,0.4,0.0,0.0,0.0,97.00,1.000000,49.000000,0.0,0.841070,0.378947,0.658342,0.612132,44.000000,0.950000,0.000000,0.0
2814994,fffeca6d22,cb726dee92,0.5,0.0,0.0,0.0,109.00,1.500000,55.000000,0.0,0.841070,0.743754,0.869361,0.431939,148.500000,0.575000,0.000000,0.0
2814995,fffeca6d22,ce55437ec7,8.7,0.0,0.0,0.0,876.00,1.363636,79.727273,0.0,0.955117,0.864353,0.434827,0.458000,57.000000,0.503909,0.000000,0.0
2814996,fffeca6d22,cef49407f1,6.0,0.0,0.0,0.0,129.00,1.000000,32.500000,0.0,0.918380,0.685309,0.488448,0.624998,75.500000,0.394500,0.000000,0.0
2814997,fffeca6d22,fee229b38c,6.0,0.0,0.0,0.0,131.86,2.000000,66.000000,0.0,0.908590,0.927300,0.759317,0.728452,256.500000,0.545000,0.000000,0.0

In [26]:
# Суммируем сгруппированные данные

train_purch_prod_mean_sum = train_purch_prod_mean.groupby(['client_id'], as_index=False).sum()
train_purch_prod_mean_sum

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,level_1,level_2,level_3,level_4,segment_id,netto,is_own_trademark,is_alcohol
0,000012768d,25.7,0.0,0.0,0.0,2803.00,4.190490,225.356061,0.000000,3.636815,2.535921,2.303875,1.928547,532.960746,2.251354,0.258672,0.000000
1,000036f903,54.9,60.0,0.0,0.0,9805.00,33.020238,1908.035317,0.000000,29.056028,13.939773,13.185150,16.538514,5295.828571,14.782695,2.939683,0.142857
2,0001f552b0,78.9,0.0,0.0,0.0,6155.18,17.168651,1064.124603,0.000000,13.815457,7.805606,7.363509,8.994472,2142.655952,8.479519,1.546825,0.000000
3,00020e7b18,286.1,0.0,-592.0,-30.0,25819.61,27.175927,1582.721300,670.989519,16.566607,10.314484,10.896564,9.476811,2430.543222,7.740633,2.593499,0.000000
4,000220a0a7,104.1,0.0,0.0,0.0,8606.57,24.090643,2047.691292,0.000000,14.162958,5.429903,8.473054,7.236260,2216.772799,7.127940,2.152464,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140022,fffd5cd0c6,35.1,0.0,0.0,0.0,5731.63,21.106385,1143.125361,0.000000,16.891387,8.959518,7.885612,9.434981,2389.528139,11.974131,4.006421,0.000000
140023,fffd63dfe3,6.5,0.0,0.0,0.0,1340.51,5.133333,214.233333,0.000000,3.695877,2.621051,2.408306,2.057752,514.877778,1.368222,1.600000,0.444444
140024,fffd8c9d7d,11.0,0.0,0.0,0.0,1636.53,7.369048,462.797619,0.000000,4.565551,1.515058,1.603816,2.376105,656.369048,2.584512,1.285714,0.000000
140025,fffe0abb97,22.2,0.0,-26.0,-150.0,2716.42,10.892857,494.559524,336.833333,8.465962,4.028723,5.774497,3.484222,1329.874459,7.449494,0.250000,0.000000
140026,fffeca6d22,47.4,0.0,0.0,0.0,2832.86,20.821970,909.102273,0.000000,14.326372,9.201798,10.510841,7.070795,1637.375000,9.933576,0.333333,0.000000

In [27]:
# Удалим лишние колонки

train_purch_prod_mean_sum = train_purch_prod_mean_sum.drop(['level_1','level_2','level_3',
                                                            'level_4','segment_id',
                                                            'is_own_trademark', 'is_alcohol'], axis = 1)

In [28]:
# Соберем дополнительные агрегаты

train_purch_prod_agg = pd.DataFrame({'n_transactions': train_purch.groupby('client_id')['transaction_id'].nunique(),
                                     'n_products': train_purch.groupby('client_id')['product_quantity'].sum(),
                                     'n_segments': train_purch_prod.groupby('client_id')['segment_id'].nunique(),
                                     'n_brands': train_purch_prod.groupby('client_id')['brand_id'].nunique(),
                                     'n_vendors': train_purch_prod.groupby('client_id')['vendor_id'].nunique(),
                                     'level_1': train_purch_prod.groupby('client_id')['level_1'].mean(),
                                     'level_2': train_purch_prod.groupby('client_id')['level_2'].mean(),
                                     'level_3': train_purch_prod.groupby('client_id')['level_3'].mean(),
                                     'level_4': train_purch_prod.groupby('client_id')['level_4'].mean(),
                                     'segment_id': train_purch_prod.groupby('client_id')['segment_id'].mean(),
                                     'own_trademark_pct': train_purch_prod_mean.groupby('client_id')['is_own_trademark'].mean(),
                                     'alcohol_pct': train_purch_prod_mean.groupby('client_id')['is_alcohol'].mean()
                                    })

train_purch_prod_agg

,n_transactions,n_products,n_segments,n_brands,n_vendors,level_1,level_2,level_3,level_4,segment_id,own_trademark_pct,alcohol_pct
client_id,,,,,,,,,,,,
000012768d,4,54.0,23,28,29,0.914537,0.619153,0.575650,0.491556,129.411765,0.064668,0.000000
000036f903,32,169.0,41,51,44,0.903830,0.420932,0.407353,0.532473,164.050314,0.091865,0.004464
0001f552b0,15,106.0,40,46,42,0.933054,0.567186,0.499903,0.559315,150.464286,0.103122,0.000000
00020e7b18,18,394.0,44,86,69,0.909166,0.541710,0.581307,0.500956,141.596226,0.144083,0.000000
000220a0a7,15,140.0,36,52,46,0.943922,0.447351,0.526774,0.497031,147.500000,0.143498,0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,18,119.0,40,42,34,0.930588,0.542806,0.460741,0.482857,144.535354,0.222579,0.000000
fffd63dfe3,4,31.0,13,13,12,0.927495,0.626203,0.604979,0.527285,118.291667,0.400000,0.111111
fffd8c9d7d,5,27.0,13,9,9,0.917300,0.385661,0.362850,0.425527,127.000000,0.257143,0.000000
fffe0abb97,9,40.0,24,26,24,0.925896,0.579263,0.618711,0.528578,158.916667,0.027778,0.000000
fffeca6d22,16,66.0,21,19,19,0.912941,0.581821,0.550365,0.466688,97.452830,0.020833,0.000000

In [29]:
# Объединим таблицу с агрегатами с таблицей продуктов и транзакций

train_purch_agg = train_purch_prod_mean_sum.merge(train_purch_prod_agg, left_on = 'client_id', right_on = 'client_id')
train_purch_agg.head()

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,netto,...,n_segments,n_brands,n_vendors,level_1,level_2,level_3,level_4,segment_id,own_trademark_pct,alcohol_pct
0,000012768d,25.7,0.0,0.0,0.0,2803.00,4.190490,225.356061,0.000000,2.251354,...,23,28,29,0.914537,0.619153,0.575650,0.491556,129.411765,0.064668,0.000000
1,000036f903,54.9,60.0,0.0,0.0,9805.00,33.020238,1908.035317,0.000000,14.782695,...,41,51,44,0.903830,0.420932,0.407353,0.532473,164.050314,0.091865,0.004464
2,0001f552b0,78.9,0.0,0.0,0.0,6155.18,17.168651,1064.124603,0.000000,8.479519,...,40,46,42,0.933054,0.567186,0.499903,0.559315,150.464286,0.103122,0.000000
3,00020e7b18,286.1,0.0,-592.0,-30.0,25819.61,27.175927,1582.721300,670.989519,7.740633,...,44,86,69,0.909166,0.541710,0.581307,0.500956,141.596226,0.144083,0.000000
4,000220a0a7,104.1,0.0,0.0,0.0,8606.57,24.090643,2047.691292,0.000000,7.127940,...,36,52,46,0.943922,0.447351,0.526774,0.497031,147.500000,0.143498,0.066667

In [30]:
# Добавим таблицу с разницей между первой и последней покупкой

train_purch_agg_diff = train_purch_agg.merge(purch_diff, left_on = 'client_id', right_on = 'client_id')
train_purch_agg_diff.head()

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,netto,...,level_1,level_2,level_3,level_4,segment_id,own_trademark_pct,alcohol_pct,min,max,days_between_first_and_last_purchase
0,000012768d,25.7,0.0,0.0,0.0,2803.00,4.190490,225.356061,0.000000,2.251354,...,0.914537,0.619153,0.575650,0.491556,129.411765,0.064668,0.000000,2018-12-01 07:12:45,2019-03-14 15:01:47,103
1,000036f903,54.9,60.0,0.0,0.0,9805.00,33.020238,1908.035317,0.000000,14.782695,...,0.903830,0.420932,0.407353,0.532473,164.050314,0.091865,0.004464,2018-11-28 10:48:36,2019-03-17 10:29:37,108
2,0001f552b0,78.9,0.0,0.0,0.0,6155.18,17.168651,1064.124603,0.000000,8.479519,...,0.933054,0.567186,0.499903,0.559315,150.464286,0.103122,0.000000,2018-11-24 07:14:43,2019-03-16 10:54:02,112
3,00020e7b18,286.1,0.0,-592.0,-30.0,25819.61,27.175927,1582.721300,670.989519,7.740633,...,0.909166,0.541710,0.581307,0.500956,141.596226,0.144083,0.000000,2018-11-23 08:21:26,2019-03-15 12:04:23,112
4,000220a0a7,104.1,0.0,0.0,0.0,8606.57,24.090643,2047.691292,0.000000,7.127940,...,0.943922,0.447351,0.526774,0.497031,147.500000,0.143498,0.066667,2018-12-11 16:54:16,2019-03-12 16:44:43,90

In [31]:
# Добавим таблицу с информацией о клиентах

train_purch_agg_diff_cli = train_purch_agg_diff.merge(clients, left_on = 'client_id', right_on = 'client_id')
train_purch_agg_diff_cli.head()

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,netto,...,gender,year_issue,month_issue,day_issue,year_redeem,month_redeem,day_redeem,days_between_issue_and_redeem,age_category,card_owning
0,000012768d,25.7,0.0,0.0,0.0,2803.00,4.190490,225.356061,0.000000,2.251354,...,U,2017,8,5,2018,1,4,152,age_45-54,card_days_100-199
1,000036f903,54.9,60.0,0.0,0.0,9805.00,33.020238,1908.035317,0.000000,14.782695,...,F,2017,4,10,2017,4,23,12,age_>=65,card_days_<50
2,0001f552b0,78.9,0.0,0.0,0.0,6155.18,17.168651,1064.124603,0.000000,8.479519,...,F,2017,6,30,2018,8,28,423,age_25-34,card_days_>=200
3,00020e7b18,286.1,0.0,-592.0,-30.0,25819.61,27.175927,1582.721300,670.989519,7.740633,...,U,2017,11,27,2018,1,10,44,age_>=65,card_days_<50
4,000220a0a7,104.1,0.0,0.0,0.0,8606.57,24.090643,2047.691292,0.000000,7.127940,...,M,2017,12,9,2018,10,4,298,age_45-54,card_days_>=200

In [32]:
# Добавим колонку с резницей в днях между выпуском карты и первой покупкой

train_purch_agg_diff_cli['days_after_first_issue_date'] = (train_purch_agg_diff_cli['min'] - train_purch_agg_diff_cli['first_issue_date']).dt.days

In [54]:
# Пропуски в сегмент айди заменим модой

mode = train_purch_agg_diff_cli['segment_id'].mode()[0]

train_purch_agg_diff_cli['segment_id'] = train_purch_agg_diff_cli['segment_id'].fillna(mode)

In [56]:
# Добавим информацию о таргете

train_purch_agg_diff_cli_target = train.merge(train_purch_agg_diff_cli, left_on = 'client_id', right_on = 'client_id')
train_purch_agg_diff_cli_target.head()

,client_id,treatment_flg,purchased,target,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,...,year_issue,month_issue,day_issue,year_redeem,month_redeem,day_redeem,days_between_issue_and_redeem,age_category,card_owning,days_after_first_issue_date
0,ad6561e2d8,1,1,1,97.3,0.0,-64.0,0.0,10801.41,40.341497,...,2017,12,3,2018,5,23,171,age_45-54,card_days_100-199,354
1,7c1ccbf93f,1,1,1,9.4,0.0,0.0,0.0,851.00,2.606061,...,2017,11,10,2018,2,22,104,age_18-24,card_days_100-199,465
2,b58fadcab6,1,1,1,91.5,0.0,-309.0,0.0,14171.77,36.544877,...,2017,11,2,2018,9,15,316,age_35-44,card_days_>=200,384
3,e99e6fabb9,0,0,1,13.6,0.0,0.0,0.0,2872.00,14.642857,...,2018,5,16,2018,5,30,14,age_>=65,card_days_<50,200
4,27fb6f8520,1,1,1,82.2,20.0,-4.0,-50.0,9886.21,41.545815,...,2017,7,17,2017,12,15,150,age_25-34,card_days_100-199,503

In [57]:
# Удалим ненужные колонки и установим в качестве индекса client_id

train_features = train_purch_agg_diff_cli_target.drop(['treatment_flg', 'purchased', 'min',
                                                      'max', 'first_issue_date', 'first_redeem_date',
                                                      ], axis = 1)

train_features = train_features.set_index('client_id')

In [58]:
# Разделим данные на признаки и таргеты

X = train_features.drop('target', axis=1)

y = train_features.target

In [59]:
# Подготовим категориальные колонки для OneHotEncoding

numeric_columns = list(X.select_dtypes(exclude=['category', 'object']).columns)
category_columns = list(X.select_dtypes(include=['category', 'object']).columns)


numeric_columns_ind = [list(X.columns).index(col) for col in numeric_columns]
columns_ohe_ind = [list(X.columns).index(col) for col in category_columns]

In [103]:
# Создадим трансформер, который будет нормализовывать данные и закодирует категориальные колонки

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from category_encoders.one_hot import OneHotEncoder


transformer = [
    ('StandardScaler', StandardScaler(), numeric_columns_ind),
    ('OneHotEncoder', OneHotEncoder(), columns_ohe_ind)
]

columns_transformer = ColumnTransformer(transformers=transformer)

In [75]:
# Загрузим модель случайного леса, параметры которого были подобраны через grid search

from sklearn.ensemble import RandomForestClassifier

rand_forest = RandomForestClassifier(n_estimators = 5000,
                                     max_depth = 5,
                                     random_state = 42,
                                     n_jobs = -1)

In [76]:
# Создадим пайплайн обработки признаков и обучения модели на всей выборке

from sklearn.pipeline import Pipeline


pipe_rf = Pipeline([('columns_transformer', columns_transformer),
                     ('rand_forest', RandomForestClassifier())])

pipe_rf.fit(X, y)

Pipeline(steps=[('columns_transformer',
                 ColumnTransformer(transformers=[('StandardScaler',
                                                  StandardScaler(),
                                                  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                                                   10, 11, 12, 13, 14, 15, 16,
                                                   17, 18, 19, 20, 21, 22, 24,
                                                   25, 26, 27, 28, 29, 30, ...]),
                                                 ('OneHotEncoder',
                                                  OneHotEncoder(),
                                                  [23, 31, 32])])),
                ('rand_forest', RandomForestClassifier())])

In [63]:
# Загружаем таблицу с id покупателей для теста

test = pd.read_csv('test.csv')

test.head()

    client_id
0  a9a604ed6e
1  ebd7360016
2  908cd9b8e8
3  dceb8ce861
4  f4f0ac6b06

In [64]:
# Переводим колонку transaction_datetime в формат datetime

test_purch['transaction_datetime'] = pd.to_datetime(test_purch['transaction_datetime'])

In [65]:
# Создаем новую таблицу с датой первой и последней покупки для каждого клиента
# и разницу в днях между датами

purch_diff_test = test_purch.groupby('client_id')['transaction_datetime'].agg(['min', 'max'])

purch_diff_test['days_between_first_and_last_purchase'] = (purch_diff_test['max'] - purch_diff_test['min']).dt.days

purch_diff_test.head(3)

,min,max,days_between_first_and_last_purchase
client_id,,,
00010925a5,2018-11-25 10:56:18,2019-03-08 07:09:50,102
00035a21d9,2019-02-09 11:46:22,2019-03-02 12:18:35,21
00038f9200,2018-12-07 11:03:50,2019-03-18 12:48:40,101

In [66]:
# Объединяем таблицу с транзакциями с таблицей products

test_purch_prod = test_purch.merge(products, left_on = 'product_id', right_on = 'product_id')


test_purch_prod.head()

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_id,product_quantity,...,level_1,level_2,level_3,level_4,segment_id,brand_id,vendor_id,netto,is_own_trademark,is_alcohol
0,00010925a5,e91ffe5b50,2018-11-25 10:56:18,1.5,0.0,0.0,0.0,303.00,a375a035b9,2.0,...,0.97611,1.018626,0.031802,1.065543,14.0,ab230258e9,57ee56f098,0.36,0,0
1,00674cdbcd,da33ffe1c2,2018-12-15 08:24:58,2.3,0.0,0.0,0.0,476.00,a375a035b9,1.0,...,0.97611,1.018626,0.031802,1.065543,14.0,ab230258e9,57ee56f098,0.36,0,0
2,00674cdbcd,3c53d65157,2019-01-17 09:40:16,1.0,0.0,0.0,0.0,39.00,a375a035b9,1.0,...,0.97611,1.018626,0.031802,1.065543,14.0,ab230258e9,57ee56f098,0.36,0,0
3,008815a235,9b26e8ebd9,2019-03-10 16:27:26,27.0,0.0,-63.0,0.0,2765.21,a375a035b9,1.0,...,0.97611,1.018626,0.031802,1.065543,14.0,ab230258e9,57ee56f098,0.36,0,0
4,0096a2720b,84c63e4bc3,2018-11-24 12:38:25,2.3,0.0,0.0,0.0,467.00,a375a035b9,1.0,...,0.97611,1.018626,0.031802,1.065543,14.0,ab230258e9,57ee56f098,0.36,0,0

In [67]:
# Группируем по айди клиента, транзакции

test_purch_prod_mean = test_purch_prod.groupby(['client_id', 'transaction_id'], as_index=False).mean()
test_purch_prod_mean

,client_id,transaction_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,level_1,level_2,level_3,level_4,segment_id,netto,is_own_trademark,is_alcohol
0,00010925a5,081dc6d998,2.3,0.0,0.0,0.0,478.0,0.857143,68.285714,0.0,0.860361,0.701703,0.840766,0.447873,120.500000,0.561429,0.142857,0.000000
1,00010925a5,09af961a1c,2.3,0.0,0.0,0.0,463.0,1.000000,92.600000,0.0,0.868078,0.406482,0.726560,0.371486,131.600000,0.530000,0.000000,0.000000
2,00010925a5,144898073a,1.4,0.0,0.0,0.0,299.0,0.714286,42.857143,0.0,0.918235,0.385775,0.614892,0.534524,119.428571,0.507143,0.428571,0.000000
3,00010925a5,1721d9d308,1.2,0.0,0.0,0.0,250.0,1.000000,125.000000,0.0,0.841070,0.425057,0.615463,0.626830,148.000000,1.000000,0.500000,0.000000
4,00010925a5,1c4bd83e38,5.8,0.0,0.0,0.0,581.0,1.000000,72.750000,0.0,0.913485,0.567544,0.484122,0.471887,189.857143,0.504125,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209946,fffff6ce77,e9182e5887,0.7,0.0,0.0,0.0,157.0,3.500000,79.000000,0.0,0.841070,0.743754,0.922669,0.302265,43.000000,0.487500,0.000000,0.000000
1209947,fffff6ce77,eba2694c0c,1.8,0.0,0.0,0.0,446.0,1.111111,49.555556,0.0,0.916092,0.412134,0.601988,0.393322,150.625000,0.492222,0.555556,0.111111
1209948,fffff6ce77,f0af5bcc0b,0.9,0.0,0.0,0.0,183.0,1.000000,61.000000,0.0,0.931096,0.706205,0.416822,0.368565,40.000000,0.800000,0.000000,0.000000
1209949,fffff6ce77,f58417b669,20.7,0.0,0.0,0.0,2077.0,1.550000,103.850000,0.0,0.883540,0.492175,0.514433,0.505062,161.526316,0.470800,0.050000,0.000000
1209950,fffff6ce77,f8dd10c7f3,8.2,0.0,0.0,0.0,826.0,2.000000,118.142857,0.0,0.937527,0.487700,0.502930,0.359828,119.000000,0.569286,0.285714,0.000000

In [68]:
# Суммируем сгруппированные датасет

test_purch_prod_mean_sum = test_purch_prod_mean.groupby(['client_id'], as_index=False).sum()
test_purch_prod_mean_sum

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,level_1,level_2,level_3,level_4,segment_id,netto,is_own_trademark,is_alcohol
0,00010925a5,31.8,0.0,-17.0,0.0,5883.00,18.388095,1505.292857,87.600000,15.713246,8.422317,11.114656,8.996209,2577.569048,11.601530,2.604762,0.500000
1,00035a21d9,23.6,0.0,-8.0,-30.0,1791.94,2.769231,201.642308,60.538462,2.784721,1.673245,1.857901,1.773093,340.524725,1.238100,0.125000,0.000000
2,00038f9200,82.8,0.0,-29.0,0.0,8385.00,56.593651,2693.201587,114.000000,43.432164,27.089532,28.378073,23.659196,6598.794444,28.098113,3.823016,0.000000
3,0004315e57,67.8,0.0,-39.0,-60.0,7590.00,16.608333,921.805664,150.622222,13.290077,6.787362,6.747269,6.265925,2034.026118,4.621756,2.059398,0.000000
4,0006fca4bf,35.4,0.0,0.0,0.0,2141.00,3.576923,287.192308,0.000000,2.905163,1.422704,1.360941,1.215018,334.884615,0.633846,0.153846,0.038462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60007,fff9aa288c,42.1,0.0,-46.0,0.0,4942.11,10.448120,838.267669,96.000000,9.241673,6.530684,5.847031,6.249204,1805.715873,3.240860,0.786466,1.471429
60008,fff9f772f6,95.9,0.0,0.0,0.0,6255.26,5.687302,253.465533,0.000000,3.707368,2.651725,2.480568,2.183158,608.480272,1.743007,1.050340,0.000000
60009,fffe0ed719,69.9,0.0,0.0,0.0,10417.48,42.666667,1844.558730,0.000000,28.241327,12.464133,15.580071,12.597902,4326.309890,14.041325,5.889683,0.000000
60010,fffea1204c,26.1,0.0,-40.0,0.0,4297.12,28.545238,1183.497619,58.750000,15.525537,8.798770,7.822567,8.057921,2280.683333,7.501202,0.000000,0.000000
60011,fffff6ce77,221.3,0.0,-302.0,0.0,18560.59,44.286369,3485.313027,94.604396,29.820820,18.097738,19.036203,14.790772,4456.518736,13.859585,7.764073,5.084596

In [69]:
# Удалим лишние колонки

test_purch_prod_mean_sum = test_purch_prod_mean_sum.drop(['level_1','level_2','level_3',
                                                            'level_4','segment_id',
                                                            'is_own_trademark', 'is_alcohol'], axis = 1)

In [70]:
# Соберем дополнительные агрегаты

test_purch_prod_agg = pd.DataFrame({'n_transactions': test_purch.groupby('client_id')['transaction_id'].nunique(),
                                     'n_products': test_purch.groupby('client_id')['product_quantity'].sum(),
                                     'n_segments': test_purch_prod.groupby('client_id')['segment_id'].nunique(),
                                     'n_brands': test_purch_prod.groupby('client_id')['brand_id'].nunique(),
                                     'n_vendors': test_purch_prod.groupby('client_id')['vendor_id'].nunique(),
                                     'level_1': test_purch_prod.groupby('client_id')['level_1'].mean(),
                                     'level_2': test_purch_prod.groupby('client_id')['level_2'].mean(),
                                     'level_3': test_purch_prod.groupby('client_id')['level_3'].mean(),
                                     'level_4': test_purch_prod.groupby('client_id')['level_4'].mean(),
                                     'segment_id': test_purch_prod.groupby('client_id')['segment_id'].mean(),
                                     'own_trademark_pct': test_purch_prod_mean.groupby('client_id')['is_own_trademark'].mean(),
                                     'alcohol_pct': test_purch_prod_mean.groupby('client_id')['is_alcohol'].mean()
                                    })

test_purch_prod_agg

,n_transactions,n_products,n_segments,n_brands,n_vendors,level_1,level_2,level_3,level_4,segment_id,own_trademark_pct,alcohol_pct
client_id,,,,,,,,,,,,
00010925a5,18,79.0,31,27,24,0.877929,0.472808,0.623640,0.475755,137.480000,0.144709,0.027778
00035a21d9,3,23.0,14,16,16,0.932377,0.562146,0.648907,0.553044,107.000000,0.041667,0.000000
00038f9200,48,186.0,41,49,40,0.905060,0.585070,0.579524,0.482871,142.363636,0.079646,0.000000
0004315e57,14,131.0,39,62,52,0.945936,0.491355,0.462914,0.459754,157.775862,0.147100,0.000000
0006fca4bf,3,43.0,20,16,15,0.919634,0.478630,0.419776,0.531851,138.642857,0.051282,0.012821
...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,10,68.0,27,29,29,0.929415,0.668306,0.630362,0.654682,178.841270,0.078647,0.147143
fff9f772f6,4,129.0,39,38,39,0.922219,0.648145,0.643303,0.538361,149.175258,0.262585,0.000000
fffe0ed719,30,217.0,36,52,52,0.945945,0.391922,0.480976,0.410591,143.910828,0.196323,0.000000
fffea1204c,17,111.0,17,24,23,0.903697,0.528721,0.503562,0.468184,142.773585,0.000000,0.000000
fffff6ce77,32,270.0,58,72,66,0.923018,0.565431,0.559673,0.450960,136.145833,0.242627,0.158894

In [71]:
# Объединим таблицу с агрегатами с таблицей продуктов и транзакций

test_purch_agg = test_purch_prod_mean_sum.merge(test_purch_prod_agg, left_on = 'client_id', right_on = 'client_id')
test_purch_agg.head()

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,netto,...,n_segments,n_brands,n_vendors,level_1,level_2,level_3,level_4,segment_id,own_trademark_pct,alcohol_pct
0,00010925a5,31.8,0.0,-17.0,0.0,5883.00,18.388095,1505.292857,87.600000,11.601530,...,31,27,24,0.877929,0.472808,0.623640,0.475755,137.480000,0.144709,0.027778
1,00035a21d9,23.6,0.0,-8.0,-30.0,1791.94,2.769231,201.642308,60.538462,1.238100,...,14,16,16,0.932377,0.562146,0.648907,0.553044,107.000000,0.041667,0.000000
2,00038f9200,82.8,0.0,-29.0,0.0,8385.00,56.593651,2693.201587,114.000000,28.098113,...,41,49,40,0.905060,0.585070,0.579524,0.482871,142.363636,0.079646,0.000000
3,0004315e57,67.8,0.0,-39.0,-60.0,7590.00,16.608333,921.805664,150.622222,4.621756,...,39,62,52,0.945936,0.491355,0.462914,0.459754,157.775862,0.147100,0.000000
4,0006fca4bf,35.4,0.0,0.0,0.0,2141.00,3.576923,287.192308,0.000000,0.633846,...,20,16,15,0.919634,0.478630,0.419776,0.531851,138.642857,0.051282,0.012821

In [72]:
# Добавим таблицу с разницей между первой и последней покупкой

test_purch_agg_diff = test_purch_agg.merge(purch_diff_test, left_on = 'client_id', right_on = 'client_id')
test_purch_agg_diff.head()

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,netto,...,level_1,level_2,level_3,level_4,segment_id,own_trademark_pct,alcohol_pct,min,max,days_between_first_and_last_purchase
0,00010925a5,31.8,0.0,-17.0,0.0,5883.00,18.388095,1505.292857,87.600000,11.601530,...,0.877929,0.472808,0.623640,0.475755,137.480000,0.144709,0.027778,2018-11-25 10:56:18,2019-03-08 07:09:50,102
1,00035a21d9,23.6,0.0,-8.0,-30.0,1791.94,2.769231,201.642308,60.538462,1.238100,...,0.932377,0.562146,0.648907,0.553044,107.000000,0.041667,0.000000,2019-02-09 11:46:22,2019-03-02 12:18:35,21
2,00038f9200,82.8,0.0,-29.0,0.0,8385.00,56.593651,2693.201587,114.000000,28.098113,...,0.905060,0.585070,0.579524,0.482871,142.363636,0.079646,0.000000,2018-12-07 11:03:50,2019-03-18 12:48:40,101
3,0004315e57,67.8,0.0,-39.0,-60.0,7590.00,16.608333,921.805664,150.622222,4.621756,...,0.945936,0.491355,0.462914,0.459754,157.775862,0.147100,0.000000,2018-11-25 13:20:56,2019-03-08 11:33:37,102
4,0006fca4bf,35.4,0.0,0.0,0.0,2141.00,3.576923,287.192308,0.000000,0.633846,...,0.919634,0.478630,0.419776,0.531851,138.642857,0.051282,0.012821,2019-02-20 07:47:30,2019-03-10 06:56:52,17

In [73]:
# Добавим таблицу с информацией о клиентах

test_purch_agg_diff_cli = test_purch_agg_diff.merge(clients, left_on = 'client_id', right_on = 'client_id')
test_purch_agg_diff_cli.head()

,client_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,product_quantity,trn_sum_from_iss,trn_sum_from_red,netto,...,gender,year_issue,month_issue,day_issue,year_redeem,month_redeem,day_redeem,days_between_issue_and_redeem,age_category,card_owning
0,00010925a5,31.8,0.0,-17.0,0.0,5883.00,18.388095,1505.292857,87.600000,11.601530,...,U,2018,7,24,2018,9,14,51,age_>=65,card_days_50-99
1,00035a21d9,23.6,0.0,-8.0,-30.0,1791.94,2.769231,201.642308,60.538462,1.238100,...,U,2019,2,9,2019,3,2,21,age_>=65,card_days_<50
2,00038f9200,82.8,0.0,-29.0,0.0,8385.00,56.593651,2693.201587,114.000000,28.098113,...,U,2018,12,7,2019,1,12,35,age_>=65,card_days_<50
3,0004315e57,67.8,0.0,-39.0,-60.0,7590.00,16.608333,921.805664,150.622222,4.621756,...,U,2018,11,25,2019,2,2,68,age_35-44,card_days_50-99
4,0006fca4bf,35.4,0.0,0.0,0.0,2141.00,3.576923,287.192308,0.000000,0.633846,...,U,2019,2,20,2019,2,20,0,age_55-64,card_days_<50

In [82]:
# Добавим колонку с резницей в днях между выпуском карты и первой покупкой

test_purch_agg_diff_cli['days_after_first_issue_date'] = (test_purch_agg_diff_cli['min'] - test_purch_agg_diff_cli['first_issue_date']).dt.days

In [87]:
# Пропуски в сегмент айди заменим модой

mode = test_purch_agg_diff_cli['segment_id'].mode()[0]

test_purch_agg_diff_cli['segment_id'] = test_purch_agg_diff_cli['segment_id'].fillna(mode)

In [88]:
test_features = test_purch_agg_diff_cli.drop(['min', 'max',
                                              'first_issue_date',
                                              'first_redeem_date'
                                             ], axis = 1)

test_features = test_features.set_index('client_id')

In [105]:
pred = pipe_log.predict_proba(test_features)
pred

array([[0.46559598, 0.53440402],
       [0.44825131, 0.55174869],
       [0.47092594, 0.52907406],
       ...,
       [0.48794177, 0.51205823],
       [0.46418743, 0.53581257],
       [0.49740508, 0.50259492]])

In [106]:
total = test.copy()

In [107]:
total = test.copy()
total['pred'] = pred[:, 1]
total = total.set_index('client_id')
total.head(3)

                pred
client_id
a9a604ed6e  0.534404
ebd7360016  0.551749
908cd9b8e8  0.529074

In [109]:
total.to_csv('/Users/vadimbaev/startml/Uplift/Totals/log_total.csv')

In [95]:
from catboost import CatBoostClassifier

catboost = CatBoostClassifier(eval_metric = 'NormalizedGini',
                              loss_function = 'Logloss',
                              n_estimators = 200,
                              max_depth = 5,
                              random_seed=42)

In [97]:
pipe_cat = Pipeline([('columns_transformer', columns_transformer),
                     ('catboost', CatBoostClassifier())])

pipe_cat.fit(X, y)

Learning rate set to 0.08499
0:	learn: 0.6926134	total: 13.5ms	remaining: 13.5s
1:	learn: 0.6921621	total: 23.6ms	remaining: 11.8s
2:	learn: 0.6918583	total: 34.4ms	remaining: 11.4s
3:	learn: 0.6914435	total: 44.9ms	remaining: 11.2s
4:	learn: 0.6913100	total: 55.6ms	remaining: 11.1s
5:	learn: 0.6911768	total: 65.8ms	remaining: 10.9s
6:	learn: 0.6910175	total: 75.5ms	remaining: 10.7s
7:	learn: 0.6909194	total: 86.3ms	remaining: 10.7s
8:	learn: 0.6908484	total: 96.2ms	remaining: 10.6s
9:	learn: 0.6905291	total: 106ms	remaining: 10.5s
10:	learn: 0.6899950	total: 116ms	remaining: 10.5s
11:	learn: 0.6898986	total: 127ms	remaining: 10.4s
12:	learn: 0.6898193	total: 138ms	remaining: 10.4s
13:	learn: 0.6894425	total: 148ms	remaining: 10.4s
14:	learn: 0.6893702	total: 158ms	remaining: 10.4s
15:	learn: 0.6892573	total: 169ms	remaining: 10.4s
16:	learn: 0.6891968	total: 179ms	remaining: 10.3s
17:	learn: 0.6891351	total: 192ms	remaining: 10.5s
18:	learn: 0.6890724	total: 205ms	remaining: 10.6s
19:	learn: 0.6889939	total: 221ms	remaining: 10.8s
20:	learn: 0.6888065	total: 235ms	remaining: 10.9s
21:	learn: 0.6887331	total: 246ms	remaining: 10.9s
22:	learn: 0.6886624	total: 261ms	remaining: 11.1s
23:	learn: 0.6886158	total: 273ms	remaining: 11.1s
24:	learn: 0.6883443	total: 285ms	remaining: 11.1s
25:	learn: 0.6882936	total: 297ms	remaining: 11.1s
26:	learn: 0.6882463	total: 308ms	remaining: 11.1s
27:	learn: 0.6882003	total: 319ms	remaining: 11.1s
28:	learn: 0.6881610	total: 331ms	remaining: 11.1s
29:	learn: 0.6880998	total: 342ms	remaining: 11.1s
30:	learn: 0.6880383	total: 354ms	remaining: 11.1s
31:	learn: 0.6879750	total: 365ms	remaining: 11s
32:	learn: 0.6879140	total: 377ms	remaining: 11.1s
33:	learn: 0.6878650	total: 390ms	remaining: 11.1s
34:	learn: 0.6878226	total: 404ms	remaining: 11.1s
35:	learn: 0.6877739	total: 419ms	remaining: 11.2s
36:	learn: 0.6877246	total: 431ms	remaining: 11.2s
37:	learn: 0.6876644	total: 443ms	remaining: 11.2s
38:	learn: 0.6876319	total: 456ms	remaining: 11.2s
39:	learn: 0.6875827	total: 468ms	remaining: 11.2s
40:	learn: 0.6875326	total: 479ms	remaining: 11.2s
41:	learn: 0.6874911	total: 488ms	remaining: 11.1s
42:	learn: 0.6874411	total: 499ms	remaining: 11.1s
43:	learn: 0.6873754	total: 509ms	remaining: 11.1s
44:	learn: 0.6873226	total: 519ms	remaining: 11s
45:	learn: 0.6872877	total: 529ms	remaining: 11s
46:	learn: 0.6872540	total: 539ms	remaining: 10.9s
47:	learn: 0.6871877	total: 548ms	remaining: 10.9s
48:	learn: 0.6870264	total: 558ms	remaining: 10.8s
49:	learn: 0.6869820	total: 568ms	remaining: 10.8s
50:	learn: 0.6869293	total: 580ms	remaining: 10.8s
51:	learn: 0.6869007	total: 592ms	remaining: 10.8s
52:	learn: 0.6868404	total: 605ms	remaining: 10.8s
53:	learn: 0.6868021	total: 617ms	remaining: 10.8s
54:	learn: 0.6867598	total: 628ms	remaining: 10.8s
55:	learn: 0.6867157	total: 639ms	remaining: 10.8s
56:	learn: 0.6866635	total: 652ms	remaining: 10.8s
57:	learn: 0.6866123	total: 663ms	remaining: 10.8s
58:	learn: 0.6865540	total: 673ms	remaining: 10.7s
59:	learn: 0.6864979	total: 683ms	remaining: 10.7s
60:	learn: 0.6864435	total: 694ms	remaining: 10.7s
61:	learn: 0.6863804	total: 704ms	remaining: 10.7s
62:	learn: 0.6863528	total: 714ms	remaining: 10.6s
63:	learn: 0.6863193	total: 725ms	remaining: 10.6s
64:	learn: 0.6862737	total: 734ms	remaining: 10.6s
65:	learn: 0.6862328	total: 746ms	remaining: 10.6s
66:	learn: 0.6861745	total: 756ms	remaining: 10.5s
67:	learn: 0.6861325	total: 767ms	remaining: 10.5s
68:	learn: 0.6860903	total: 778ms	remaining: 10.5s
69:	learn: 0.6860598	total: 792ms	remaining: 10.5s
70:	learn: 0.6860251	total: 806ms	remaining: 10.5s
71:	learn: 0.6859949	total: 821ms	remaining: 10.6s
72:	learn: 0.6859810	total: 833ms	remaining: 10.6s
73:	learn: 0.6859440	total: 847ms	remaining: 10.6s
74:	learn: 0.6859122	total: 860ms	remaining: 10.6s
75:	learn: 0.6858653	total: 872ms	remaining: 10.6s
76:	learn: 0.6858333	total: 884ms	remaining: 10.6s
77:	learn: 0.6857882	total: 896ms	remaining: 10.6s
78:	learn: 0.6857378	total: 908ms	remaining: 10.6s
79:	learn: 0.6856933	total: 920ms	remaining: 10.6s
80:	learn: 0.6856710	total: 933ms	remaining: 10.6s
81:	learn: 0.6856330	total: 942ms	remaining: 10.5s
82:	learn: 0.6856094	total: 952ms	remaining: 10.5s
83:	learn: 0.6855595	total: 962ms	remaining: 10.5s
84:	learn: 0.6855160	total: 973ms	remaining: 10.5s
85:	learn: 0.6854809	total: 985ms	remaining: 10.5s
86:	learn: 0.6854258	total: 997ms	remaining: 10.5s
87:	learn: 0.6853875	total: 1.01s	remaining: 10.5s
88:	learn: 0.6853489	total: 1.02s	remaining: 10.5s
89:	learn: 0.6852890	total: 1.04s	remaining: 10.5s
90:	learn: 0.6852574	total: 1.05s	remaining: 10.5s
91:	learn: 0.6852009	total: 1.06s	remaining: 10.4s
92:	learn: 0.6851736	total: 1.07s	remaining: 10.4s
93:	learn: 0.6851187	total: 1.08s	remaining: 10.4s
94:	learn: 0.6849878	total: 1.09s	remaining: 10.4s
95:	learn: 0.6849330	total: 1.11s	remaining: 10.5s
96:	learn: 0.6848934	total: 1.13s	remaining: 10.5s
97:	learn: 0.6848423	total: 1.15s	remaining: 10.6s
98:	learn: 0.6847841	total: 1.16s	remaining: 10.6s
99:	learn: 0.6847383	total: 1.17s	remaining: 10.5s
100:	learn: 0.6846901	total: 1.18s	remaining: 10.5s
101:	learn: 0.6846338	total: 1.2s	remaining: 10.5s
102:	learn: 0.6845976	total: 1.21s	remaining: 10.5s
103:	learn: 0.6845569	total: 1.22s	remaining: 10.5s
104:	learn: 0.6845144	total: 1.24s	remaining: 10.5s
105:	learn: 0.6844677	total: 1.25s	remaining: 10.5s
106:	learn: 0.6844314	total: 1.26s	remaining: 10.5s
107:	learn: 0.6843917	total: 1.27s	remaining: 10.5s
108:	learn: 0.6843350	total: 1.28s	remaining: 10.5s
109:	learn: 0.6842839	total: 1.29s	remaining: 10.5s
110:	learn: 0.6842403	total: 1.3s	remaining: 10.4s
111:	learn: 0.6841886	total: 1.31s	remaining: 10.4s
112:	learn: 0.6841586	total: 1.32s	remaining: 10.4s
113:	learn: 0.6841105	total: 1.33s	remaining: 10.4s
114:	learn: 0.6840480	total: 1.34s	remaining: 10.3s
115:	learn: 0.6840126	total: 1.35s	remaining: 10.3s
116:	learn: 0.6839673	total: 1.37s	remaining: 10.3s
117:	learn: 0.6839328	total: 1.38s	remaining: 10.3s
118:	learn: 0.6838802	total: 1.39s	remaining: 10.3s
119:	learn: 0.6838634	total: 1.4s	remaining: 10.3s
120:	learn: 0.6838240	total: 1.41s	remaining: 10.3s
121:	learn: 0.6837795	total: 1.43s	remaining: 10.3s
122:	learn: 0.6837427	total: 1.44s	remaining: 10.3s
123:	learn: 0.6836895	total: 1.46s	remaining: 10.3s
124:	learn: 0.6836448	total: 1.47s	remaining: 10.3s
125:	learn: 0.6836040	total: 1.48s	remaining: 10.3s
126:	learn: 0.6835720	total: 1.49s	remaining: 10.3s
127:	learn: 0.6835197	total: 1.5s	remaining: 10.2s
128:	learn: 0.6834660	total: 1.51s	remaining: 10.2s
129:	learn: 0.6834156	total: 1.52s	remaining: 10.2s
130:	learn: 0.6833541	total: 1.53s	remaining: 10.2s
131:	learn: 0.6833201	total: 1.54s	remaining: 10.2s
132:	learn: 0.6832669	total: 1.56s	remaining: 10.1s
133:	learn: 0.6832024	total: 1.57s	remaining: 10.1s
134:	learn: 0.6831670	total: 1.58s	remaining: 10.1s
135:	learn: 0.6831228	total: 1.59s	remaining: 10.1s
136:	learn: 0.6830698	total: 1.6s	remaining: 10.1s
137:	learn: 0.6830411	total: 1.61s	remaining: 10.1s
138:	learn: 0.6829935	total: 1.63s	remaining: 10.1s
139:	learn: 0.6828586	total: 1.64s	remaining: 10.1s
140:	learn: 0.6828195	total: 1.66s	remaining: 10.1s
141:	learn: 0.6827646	total: 1.67s	remaining: 10.1s
142:	learn: 0.6827003	total: 1.68s	remaining: 10.1s
143:	learn: 0.6826662	total: 1.69s	remaining: 10.1s
144:	learn: 0.6826167	total: 1.71s	remaining: 10.1s
145:	learn: 0.6825553	total: 1.72s	remaining: 10.1s
146:	learn: 0.6825017	total: 1.73s	remaining: 10.1s
147:	learn: 0.6824511	total: 1.75s	remaining: 10.1s
148:	learn: 0.6824043	total: 1.76s	remaining: 10s
149:	learn: 0.6823571	total: 1.77s	remaining: 10s
150:	learn: 0.6822862	total: 1.78s	remaining: 10s
151:	learn: 0.6822424	total: 1.79s	remaining: 10s
152:	learn: 0.6821859	total: 1.81s	remaining: 10s
153:	learn: 0.6821275	total: 1.82s	remaining: 10s
154:	learn: 0.6820729	total: 1.83s	remaining: 10s
155:	learn: 0.6820187	total: 1.85s	remaining: 9.99s
156:	learn: 0.6819585	total: 1.86s	remaining: 9.97s
157:	learn: 0.6819006	total: 1.87s	remaining: 9.95s
158:	learn: 0.6818409	total: 1.88s	remaining: 9.93s
159:	learn: 0.6818040	total: 1.89s	remaining: 9.92s
160:	learn: 0.6817638	total: 1.9s	remaining: 9.89s
161:	learn: 0.6816927	total: 1.91s	remaining: 9.88s
162:	learn: 0.6816538	total: 1.92s	remaining: 9.86s
163:	learn: 0.6816081	total: 1.93s	remaining: 9.84s
164:	learn: 0.6815749	total: 1.94s	remaining: 9.82s
165:	learn: 0.6815056	total: 1.95s	remaining: 9.8s
166:	learn: 0.6814322	total: 1.96s	remaining: 9.79s
167:	learn: 0.6813712	total: 1.97s	remaining: 9.78s
168:	learn: 0.6813074	total: 1.98s	remaining: 9.76s

169:	learn: 0.6812540	total: 2s	remaining: 9.74s
170:	learn: 0.6811862	total: 2.01s	remaining: 9.74s
171:	learn: 0.6811509	total: 2.02s	remaining: 9.73s
172:	learn: 0.6811181	total: 2.03s	remaining: 9.72s
173:	learn: 0.6810417	total: 2.05s	remaining: 9.72s
174:	learn: 0.6809761	total: 2.06s	remaining: 9.7s
175:	learn: 0.6809239	total: 2.07s	remaining: 9.7s
176:	learn: 0.6808552	total: 2.08s	remaining: 9.69s
177:	learn: 0.6808119	total: 2.1s	remaining: 9.68s
178:	learn: 0.6807563	total: 2.11s	remaining: 9.68s
179:	learn: 0.6807285	total: 2.12s	remaining: 9.67s
180:	learn: 0.6806802	total: 2.13s	remaining: 9.66s
181:	learn: 0.6806270	total: 2.15s	remaining: 9.66s
182:	learn: 0.6805743	total: 2.16s	remaining: 9.65s
183:	learn: 0.6805065	total: 2.17s	remaining: 9.63s
184:	learn: 0.6804468	total: 2.18s	remaining: 9.62s
185:	learn: 0.6803766	total: 2.19s	remaining: 9.61s
186:	learn: 0.6803130	total: 2.21s	remaining: 9.6s
187:	learn: 0.6802499	total: 2.22s	remaining: 9.59s
188:	learn: 0.6802090	total: 2.23s	remaining: 9.57s
189:	learn: 0.6801520	total: 2.24s	remaining: 9.55s
190:	learn: 0.6800955	total: 2.25s	remaining: 9.53s
191:	learn: 0.6800328	total: 2.26s	remaining: 9.51s
192:	learn: 0.6799768	total: 2.27s	remaining: 9.49s
193:	learn: 0.6799004	total: 2.28s	remaining: 9.47s
194:	learn: 0.6798434	total: 2.29s	remaining: 9.45s
195:	learn: 0.6798082	total: 2.3s	remaining: 9.43s
196:	learn: 0.6797532	total: 2.31s	remaining: 9.41s
197:	learn: 0.6797046	total: 2.32s	remaining: 9.4s
198:	learn: 0.6796459	total: 2.33s	remaining: 9.38s
199:	learn: 0.6795713	total: 2.34s	remaining: 9.36s
200:	learn: 0.6795049	total: 2.35s	remaining: 9.34s
201:	learn: 0.6794425	total: 2.36s	remaining: 9.32s
202:	learn: 0.6793890	total: 2.37s	remaining: 9.3s
203:	learn: 0.6793372	total: 2.38s	remaining: 9.28s
204:	learn: 0.6792815	total: 2.39s	remaining: 9.26s
205:	learn: 0.6792387	total: 2.4s	remaining: 9.26s
206:	learn: 0.6791799	total: 2.41s	remaining: 9.25s
207:	learn: 0.6791151	total: 2.42s	remaining: 9.23s
208:	learn: 0.6790530	total: 2.44s	remaining: 9.22s
209:	learn: 0.6789877	total: 2.45s	remaining: 9.21s
210:	learn: 0.6789515	total: 2.46s	remaining: 9.19s
211:	learn: 0.6788948	total: 2.47s	remaining: 9.17s
212:	learn: 0.6788592	total: 2.48s	remaining: 9.15s
213:	learn: 0.6787976	total: 2.49s	remaining: 9.13s
214:	learn: 0.6787375	total: 2.5s	remaining: 9.12s
215:	learn: 0.6786909	total: 2.51s	remaining: 9.1s
216:	learn: 0.6786235	total: 2.52s	remaining: 9.09s
217:	learn: 0.6785574	total: 2.53s	remaining: 9.08s
218:	learn: 0.6785054	total: 2.54s	remaining: 9.06s
219:	learn: 0.6784579	total: 2.55s	remaining: 9.05s
220:	learn: 0.6783861	total: 2.57s	remaining: 9.05s
221:	learn: 0.6783352	total: 2.58s	remaining: 9.04s
222:	learn: 0.6782789	total: 2.59s	remaining: 9.03s
223:	learn: 0.6782401	total: 2.6s	remaining: 9.02s
224:	learn: 0.6781744	total: 2.62s	remaining: 9.01s
225:	learn: 0.6781240	total: 2.63s	remaining: 9.01s
226:	learn: 0.6780771	total: 2.64s	remaining: 9s
227:	learn: 0.6780260	total: 2.65s	remaining: 8.99s
228:	learn: 0.6779657	total: 2.67s	remaining: 8.98s
229:	learn: 0.6779171	total: 2.68s	remaining: 8.97s
230:	learn: 0.6778687	total: 2.69s	remaining: 8.96s
231:	learn: 0.6778098	total: 2.7s	remaining: 8.95s
232:	learn: 0.6777710	total: 2.71s	remaining: 8.93s
233:	learn: 0.6777111	total: 2.72s	remaining: 8.92s
234:	learn: 0.6776624	total: 2.74s	remaining: 8.91s
235:	learn: 0.6775235	total: 2.75s	remaining: 8.89s
236:	learn: 0.6774694	total: 2.76s	remaining: 8.88s
237:	learn: 0.6774068	total: 2.77s	remaining: 8.87s
238:	learn: 0.6773421	total: 2.78s	remaining: 8.85s
239:	learn: 0.6773071	total: 2.79s	remaining: 8.83s
240:	learn: 0.6772441	total: 2.8s	remaining: 8.81s
241:	learn: 0.6772047	total: 2.81s	remaining: 8.8s
242:	learn: 0.6771466	total: 2.82s	remaining: 8.79s
243:	learn: 0.6771118	total: 2.83s	remaining: 8.78s
244:	learn: 0.6770350	total: 2.84s	remaining: 8.76s
245:	learn: 0.6769628	total: 2.85s	remaining: 8.75s
246:	learn: 0.6769006	total: 2.86s	remaining: 8.73s
247:	learn: 0.6768530	total: 2.87s	remaining: 8.72s
248:	learn: 0.6768082	total: 2.88s	remaining: 8.7s
249:	learn: 0.6767568	total: 2.89s	remaining: 8.68s
250:	learn: 0.6767119	total: 2.9s	remaining: 8.66s
251:	learn: 0.6766473	total: 2.91s	remaining: 8.65s
252:	learn: 0.6765768	total: 2.92s	remaining: 8.64s
253:	learn: 0.6765533	total: 2.93s	remaining: 8.62s
254:	learn: 0.6764892	total: 2.94s	remaining: 8.6s
255:	learn: 0.6764224	total: 2.96s	remaining: 8.6s
256:	learn: 0.6763647	total: 2.97s	remaining: 8.58s
257:	learn: 0.6763146	total: 2.98s	remaining: 8.57s
258:	learn: 0.6762523	total: 2.99s	remaining: 8.55s
259:	learn: 0.6762023	total: 3s	remaining: 8.54s
260:	learn: 0.6761530	total: 3.01s	remaining: 8.53s
261:	learn: 0.6761056	total: 3.03s	remaining: 8.53s
262:	learn: 0.6760515	total: 3.04s	remaining: 8.52s
263:	learn: 0.6759977	total: 3.05s	remaining: 8.51s
264:	learn: 0.6759516	total: 3.06s	remaining: 8.5s
265:	learn: 0.6759005	total: 3.08s	remaining: 8.49s
266:	learn: 0.6758493	total: 3.09s	remaining: 8.48s
267:	learn: 0.6757906	total: 3.1s	remaining: 8.47s
268:	learn: 0.6757231	total: 3.11s	remaining: 8.45s
269:	learn: 0.6756555	total: 3.12s	remaining: 8.44s
270:	learn: 0.6756027	total: 3.13s	remaining: 8.42s
271:	learn: 0.6755653	total: 3.14s	remaining: 8.4s
272:	learn: 0.6755070	total: 3.15s	remaining: 8.38s
273:	learn: 0.6754834	total: 3.16s	remaining: 8.37s
274:	learn: 0.6754262	total: 3.17s	remaining: 8.35s
275:	learn: 0.6753674	total: 3.18s	remaining: 8.34s
276:	learn: 0.6753161	total: 3.19s	remaining: 8.32s
277:	learn: 0.6752546	total: 3.2s	remaining: 8.31s
278:	learn: 0.6751911	total: 3.21s	remaining: 8.29s
279:	learn: 0.6751272	total: 3.22s	remaining: 8.28s
280:	learn: 0.6750751	total: 3.23s	remaining: 8.27s
281:	learn: 0.6750156	total: 3.24s	remaining: 8.26s
282:	learn: 0.6749719	total: 3.25s	remaining: 8.25s
283:	learn: 0.6749348	total: 3.27s	remaining: 8.23s
284:	learn: 0.6748563	total: 3.28s	remaining: 8.22s
285:	learn: 0.6748146	total: 3.29s	remaining: 8.2s
286:	learn: 0.6747488	total: 3.3s	remaining: 8.19s
287:	learn: 0.6747091	total: 3.31s	remaining: 8.17s
288:	learn: 0.6746557	total: 3.32s	remaining: 8.16s
289:	learn: 0.6745923	total: 3.33s	remaining: 8.14s
290:	learn: 0.6745365	total: 3.34s	remaining: 8.13s
291:	learn: 0.6744735	total: 3.35s	remaining: 8.11s
292:	learn: 0.6744099	total: 3.36s	remaining: 8.1s
293:	learn: 0.6743646	total: 3.37s	remaining: 8.08s
294:	learn: 0.6743172	total: 3.38s	remaining: 8.07s
295:	learn: 0.6742537	total: 3.39s	remaining: 8.05s
296:	learn: 0.6741939	total: 3.4s	remaining: 8.04s
297:	learn: 0.6741470	total: 3.41s	remaining: 8.02s
298:	learn: 0.6740900	total: 3.42s	remaining: 8.01s
299:	learn: 0.6740443	total: 3.43s	remaining: 8s
300:	learn: 0.6740025	total: 3.44s	remaining: 7.99s
301:	learn: 0.6739494	total: 3.45s	remaining: 7.98s
302:	learn: 0.6738907	total: 3.46s	remaining: 7.97s
303:	learn: 0.6738354	total: 3.47s	remaining: 7.95s
304:	learn: 0.6737773	total: 3.48s	remaining: 7.94s
305:	learn: 0.6737225	total: 3.49s	remaining: 7.93s
306:	learn: 0.6736707	total: 3.5s	remaining: 7.91s
307:	learn: 0.6736089	total: 3.51s	remaining: 7.89s
308:	learn: 0.6735460	total: 3.52s	remaining: 7.88s
309:	learn: 0.6734933	total: 3.53s	remaining: 7.87s
310:	learn: 0.6734399	total: 3.54s	remaining: 7.85s
311:	learn: 0.6733879	total: 3.56s	remaining: 7.84s
312:	learn: 0.6733520	total: 3.57s	remaining: 7.83s
313:	learn: 0.6732756	total: 3.58s	remaining: 7.81s
314:	learn: 0.6732442	total: 3.59s	remaining: 7.8s
315:	learn: 0.6731850	total: 3.6s	remaining: 7.79s
316:	learn: 0.6731331	total: 3.61s	remaining: 7.77s
317:	learn: 0.6730763	total: 3.62s	remaining: 7.76s
318:	learn: 0.6730478	total: 3.63s	remaining: 7.75s
319:	learn: 0.6730138	total: 3.64s	remaining: 7.74s
320:	learn: 0.6729646	total: 3.65s	remaining: 7.73s
321:	learn: 0.6728904	total: 3.66s	remaining: 7.72s
322:	learn: 0.6728437	total: 3.67s	remaining: 7.7s
323:	learn: 0.6728248	total: 3.68s	remaining: 7.68s
324:	learn: 0.6727746	total: 3.69s	remaining: 7.67s
325:	learn: 0.6727484	total: 3.7s	remaining: 7.66s
326:	learn: 0.6726737	total: 3.71s	remaining: 7.64s
327:	learn: 0.6726514	total: 3.72s	remaining: 7.63s
328:	learn: 0.6725892	total: 3.73s	remaining: 7.62s
329:	learn: 0.6725364	total: 3.74s	remaining: 7.6s
330:	learn: 0.6724904	total: 3.75s	remaining: 7.59s
331:	learn: 0.6724460	total: 3.77s	remaining: 7.58s
332:	learn: 0.6723807	total: 3.78s	remaining: 7.57s
333:	learn: 0.6723518	total: 3.79s	remaining: 7.56s
334:	learn: 0.6723132	total: 3.8s	remaining: 7.55s

335:	learn: 0.6722532	total: 3.82s	remaining: 7.54s
336:	learn: 0.6721954	total: 3.83s	remaining: 7.53s
337:	learn: 0.6721438	total: 3.84s	remaining: 7.52s
338:	learn: 0.6720961	total: 3.85s	remaining: 7.52s
339:	learn: 0.6720453	total: 3.87s	remaining: 7.51s
340:	learn: 0.6719967	total: 3.88s	remaining: 7.5s
341:	learn: 0.6719485	total: 3.89s	remaining: 7.49s
342:	learn: 0.6718995	total: 3.91s	remaining: 7.48s
343:	learn: 0.6718513	total: 3.92s	remaining: 7.47s
344:	learn: 0.6717935	total: 3.93s	remaining: 7.46s
345:	learn: 0.6717389	total: 3.94s	remaining: 7.44s
346:	learn: 0.6716917	total: 3.95s	remaining: 7.43s
347:	learn: 0.6716316	total: 3.96s	remaining: 7.42s
348:	learn: 0.6715716	total: 3.97s	remaining: 7.41s
349:	learn: 0.6715114	total: 3.98s	remaining: 7.39s
350:	learn: 0.6714590	total: 3.99s	remaining: 7.38s
351:	learn: 0.6714227	total: 4s	remaining: 7.37s
352:	learn: 0.6714007	total: 4.01s	remaining: 7.35s
353:	learn: 0.6713386	total: 4.02s	remaining: 7.34s
354:	learn: 0.6712864	total: 4.03s	remaining: 7.33s
355:	learn: 0.6712345	total: 4.05s	remaining: 7.32s
356:	learn: 0.6712050	total: 4.05s	remaining: 7.3s
357:	learn: 0.6711641	total: 4.07s	remaining: 7.29s
358:	learn: 0.6711192	total: 4.08s	remaining: 7.28s
359:	learn: 0.6710621	total: 4.09s	remaining: 7.27s
360:	learn: 0.6710166	total: 4.1s	remaining: 7.25s
361:	learn: 0.6709689	total: 4.11s	remaining: 7.24s
362:	learn: 0.6709101	total: 4.12s	remaining: 7.22s
363:	learn: 0.6708732	total: 4.13s	remaining: 7.21s
364:	learn: 0.6708324	total: 4.14s	remaining: 7.2s
365:	learn: 0.6707727	total: 4.15s	remaining: 7.18s
366:	learn: 0.6707170	total: 4.16s	remaining: 7.17s
367:	learn: 0.6706639	total: 4.17s	remaining: 7.16s
368:	learn: 0.6706131	total: 4.18s	remaining: 7.15s
369:	learn: 0.6705615	total: 4.19s	remaining: 7.13s
370:	learn: 0.6705272	total: 4.2s	remaining: 7.12s
371:	learn: 0.6704749	total: 4.21s	remaining: 7.11s
372:	learn: 0.6704249	total: 4.23s	remaining: 7.1s
373:	learn: 0.6703756	total: 4.24s	remaining: 7.1s
374:	learn: 0.6703272	total: 4.25s	remaining: 7.09s
375:	learn: 0.6702845	total: 4.27s	remaining: 7.08s
376:	learn: 0.6702320	total: 4.28s	remaining: 7.07s
377:	learn: 0.6701707	total: 4.29s	remaining: 7.06s
378:	learn: 0.6701316	total: 4.3s	remaining: 7.05s
379:	learn: 0.6700805	total: 4.32s	remaining: 7.04s
380:	learn: 0.6700240	total: 4.33s	remaining: 7.03s
381:	learn: 0.6699627	total: 4.34s	remaining: 7.02s
382:	learn: 0.6699116	total: 4.35s	remaining: 7.01s
383:	learn: 0.6698641	total: 4.36s	remaining: 7s
384:	learn: 0.6698069	total: 4.37s	remaining: 6.99s
385:	learn: 0.6697620	total: 4.38s	remaining: 6.97s
386:	learn: 0.6697089	total: 4.39s	remaining: 6.96s
387:	learn: 0.6696495	total: 4.41s	remaining: 6.95s
388:	learn: 0.6695870	total: 4.42s	remaining: 6.94s
389:	learn: 0.6695186	total: 4.43s	remaining: 6.93s
390:	learn: 0.6694726	total: 4.44s	remaining: 6.92s
391:	learn: 0.6694311	total: 4.46s	remaining: 6.91s
392:	learn: 0.6694034	total: 4.46s	remaining: 6.9s
393:	learn: 0.6693466	total: 4.48s	remaining: 6.89s
394:	learn: 0.6692965	total: 4.49s	remaining: 6.87s
395:	learn: 0.6692388	total: 4.5s	remaining: 6.86s
396:	learn: 0.6691744	total: 4.51s	remaining: 6.84s
397:	learn: 0.6691240	total: 4.52s	remaining: 6.83s
398:	learn: 0.6690809	total: 4.53s	remaining: 6.82s
399:	learn: 0.6690335	total: 4.54s	remaining: 6.81s
400:	learn: 0.6689765	total: 4.55s	remaining: 6.79s
401:	learn: 0.6689247	total: 4.56s	remaining: 6.78s
402:	learn: 0.6688876	total: 4.57s	remaining: 6.77s
403:	learn: 0.6688438	total: 4.58s	remaining: 6.75s
404:	learn: 0.6687838	total: 4.59s	remaining: 6.74s
405:	learn: 0.6687238	total: 4.6s	remaining: 6.73s
406:	learn: 0.6686880	total: 4.61s	remaining: 6.72s
407:	learn: 0.6686385	total: 4.62s	remaining: 6.71s
408:	learn: 0.6685744	total: 4.63s	remaining: 6.69s
409:	learn: 0.6685246	total: 4.65s	remaining: 6.69s
410:	learn: 0.6684796	total: 4.66s	remaining: 6.68s
411:	learn: 0.6684477	total: 4.67s	remaining: 6.66s
412:	learn: 0.6683987	total: 4.68s	remaining: 6.65s
413:	learn: 0.6683499	total: 4.69s	remaining: 6.64s
414:	learn: 0.6682987	total: 4.7s	remaining: 6.63s
415:	learn: 0.6682439	total: 4.71s	remaining: 6.62s
416:	learn: 0.6681892	total: 4.72s	remaining: 6.6s
417:	learn: 0.6681434	total: 4.73s	remaining: 6.59s
418:	learn: 0.6681118	total: 4.74s	remaining: 6.58s
419:	learn: 0.6680620	total: 4.75s	remaining: 6.56s
420:	learn: 0.6680127	total: 4.76s	remaining: 6.55s
421:	learn: 0.6679369	total: 4.78s	remaining: 6.54s
422:	learn: 0.6678871	total: 4.79s	remaining: 6.53s
423:	learn: 0.6678567	total: 4.8s	remaining: 6.52s
424:	learn: 0.6678136	total: 4.81s	remaining: 6.5s
425:	learn: 0.6677477	total: 4.82s	remaining: 6.5s
426:	learn: 0.6677020	total: 4.84s	remaining: 6.49s
427:	learn: 0.6676437	total: 4.85s	remaining: 6.48s
428:	learn: 0.6675834	total: 4.87s	remaining: 6.48s
429:	learn: 0.6675231	total: 4.88s	remaining: 6.47s
430:	learn: 0.6674618	total: 4.89s	remaining: 6.46s
431:	learn: 0.6674145	total: 4.91s	remaining: 6.46s
432:	learn: 0.6673679	total: 4.92s	remaining: 6.45s
433:	learn: 0.6673060	total: 4.94s	remaining: 6.44s
434:	learn: 0.6672682	total: 4.96s	remaining: 6.44s
435:	learn: 0.6672252	total: 4.97s	remaining: 6.43s
436:	learn: 0.6671682	total: 4.99s	remaining: 6.42s
437:	learn: 0.6671224	total: 5s	remaining: 6.41s
438:	learn: 0.6670691	total: 5.01s	remaining: 6.41s
439:	learn: 0.6670168	total: 5.03s	remaining: 6.4s
440:	learn: 0.6669658	total: 5.04s	remaining: 6.39s
441:	learn: 0.6669223	total: 5.06s	remaining: 6.38s
442:	learn: 0.6668708	total: 5.07s	remaining: 6.38s
443:	learn: 0.6668239	total: 5.09s	remaining: 6.37s
444:	learn: 0.6668089	total: 5.1s	remaining: 6.36s
445:	learn: 0.6667635	total: 5.11s	remaining: 6.35s
446:	learn: 0.6667019	total: 5.13s	remaining: 6.35s
447:	learn: 0.6666452	total: 5.14s	remaining: 6.34s
448:	learn: 0.6666004	total: 5.16s	remaining: 6.33s
449:	learn: 0.6665574	total: 5.17s	remaining: 6.32s
450:	learn: 0.6665492	total: 5.18s	remaining: 6.31s
451:	learn: 0.6664985	total: 5.2s	remaining: 6.3s
452:	learn: 0.6664563	total: 5.22s	remaining: 6.3s
453:	learn: 0.6664146	total: 5.23s	remaining: 6.29s
454:	learn: 0.6663609	total: 5.25s	remaining: 6.29s
455:	learn: 0.6663265	total: 5.26s	remaining: 6.28s
456:	learn: 0.6662723	total: 5.28s	remaining: 6.27s
457:	learn: 0.6662440	total: 5.29s	remaining: 6.26s
458:	learn: 0.6662093	total: 5.3s	remaining: 6.25s
459:	learn: 0.6661649	total: 5.32s	remaining: 6.25s
460:	learn: 0.6661268	total: 5.34s	remaining: 6.24s
461:	learn: 0.6660796	total: 5.35s	remaining: 6.23s
462:	learn: 0.6660345	total: 5.37s	remaining: 6.22s
463:	learn: 0.6659749	total: 5.38s	remaining: 6.22s
464:	learn: 0.6659075	total: 5.4s	remaining: 6.21s
465:	learn: 0.6658753	total: 5.41s	remaining: 6.2s
466:	learn: 0.6658187	total: 5.43s	remaining: 6.2s
467:	learn: 0.6657825	total: 5.45s	remaining: 6.19s
468:	learn: 0.6657140	total: 5.46s	remaining: 6.19s
469:	learn: 0.6656898	total: 5.48s	remaining: 6.18s
470:	learn: 0.6656558	total: 5.5s	remaining: 6.18s
471:	learn: 0.6656107	total: 5.52s	remaining: 6.17s
472:	learn: 0.6655801	total: 5.53s	remaining: 6.17s
473:	learn: 0.6655126	total: 5.55s	remaining: 6.16s
474:	learn: 0.6654701	total: 5.57s	remaining: 6.16s
475:	learn: 0.6654273	total: 5.58s	remaining: 6.15s
476:	learn: 0.6653692	total: 5.6s	remaining: 6.14s
477:	learn: 0.6653042	total: 5.62s	remaining: 6.13s
478:	learn: 0.6652653	total: 5.63s	remaining: 6.13s
479:	learn: 0.6652068	total: 5.65s	remaining: 6.12s
480:	learn: 0.6651697	total: 5.67s	remaining: 6.12s
481:	learn: 0.6651114	total: 5.69s	remaining: 6.11s
482:	learn: 0.6650531	total: 5.7s	remaining: 6.1s
483:	learn: 0.6650099	total: 5.72s	remaining: 6.1s
484:	learn: 0.6649433	total: 5.74s	remaining: 6.09s
485:	learn: 0.6648896	total: 5.76s	remaining: 6.09s
486:	learn: 0.6648436	total: 5.78s	remaining: 6.08s
487:	learn: 0.6648141	total: 5.79s	remaining: 6.08s
488:	learn: 0.6647591	total: 5.81s	remaining: 6.07s
489:	learn: 0.6647165	total: 5.83s	remaining: 6.07s
490:	learn: 0.6646742	total: 5.85s	remaining: 6.06s
491:	learn: 0.6646323	total: 5.86s	remaining: 6.05s
492:	learn: 0.6645804	total: 5.88s	remaining: 6.05s
493:	learn: 0.6645255	total: 5.9s	remaining: 6.05s
494:	learn: 0.6644810	total: 5.92s	remaining: 6.04s
495:	learn: 0.6644315	total: 5.94s	remaining: 6.03s
496:	learn: 0.6643729	total: 5.95s	remaining: 6.03s
497:	learn: 0.6643190	total: 5.97s	remaining: 6.02s
498:	learn: 0.6642754	total: 5.99s	remaining: 6.01s
499:	learn: 0.6642277	total: 6.01s	remaining: 6.01s
500:	learn: 0.6641883	total: 6.03s	remaining: 6s
501:	learn: 0.6641387	total: 6.04s	remaining: 6s

502:	learn: 0.6640823	total: 6.06s	remaining: 5.99s
503:	learn: 0.6640382	total: 6.08s	remaining: 5.99s
504:	learn: 0.6640129	total: 6.1s	remaining: 5.98s
505:	learn: 0.6639703	total: 6.12s	remaining: 5.97s
506:	learn: 0.6639185	total: 6.13s	remaining: 5.96s
507:	learn: 0.6638778	total: 6.15s	remaining: 5.96s
508:	learn: 0.6638243	total: 6.17s	remaining: 5.95s
509:	learn: 0.6637795	total: 6.18s	remaining: 5.94s
510:	learn: 0.6637089	total: 6.2s	remaining: 5.93s
511:	learn: 0.6636592	total: 6.22s	remaining: 5.92s
512:	learn: 0.6636203	total: 6.23s	remaining: 5.92s
513:	learn: 0.6635442	total: 6.25s	remaining: 5.91s
514:	learn: 0.6635066	total: 6.27s	remaining: 5.9s
515:	learn: 0.6634621	total: 6.28s	remaining: 5.89s
516:	learn: 0.6634183	total: 6.3s	remaining: 5.88s
517:	learn: 0.6633670	total: 6.31s	remaining: 5.87s
518:	learn: 0.6633218	total: 6.33s	remaining: 5.87s
519:	learn: 0.6632636	total: 6.35s	remaining: 5.86s
520:	learn: 0.6632078	total: 6.36s	remaining: 5.85s
521:	learn: 0.6631659	total: 6.38s	remaining: 5.84s
522:	learn: 0.6631186	total: 6.39s	remaining: 5.83s
523:	learn: 0.6630748	total: 6.41s	remaining: 5.82s
524:	learn: 0.6630256	total: 6.42s	remaining: 5.81s
525:	learn: 0.6629728	total: 6.44s	remaining: 5.8s
526:	learn: 0.6629253	total: 6.46s	remaining: 5.8s
527:	learn: 0.6628653	total: 6.48s	remaining: 5.79s
528:	learn: 0.6628051	total: 6.5s	remaining: 5.79s
529:	learn: 0.6627472	total: 6.51s	remaining: 5.78s
530:	learn: 0.6627070	total: 6.53s	remaining: 5.77s
531:	learn: 0.6626560	total: 6.55s	remaining: 5.76s
532:	learn: 0.6626152	total: 6.56s	remaining: 5.75s
533:	learn: 0.6625634	total: 6.58s	remaining: 5.74s
534:	learn: 0.6625193	total: 6.59s	remaining: 5.73s
535:	learn: 0.6624772	total: 6.61s	remaining: 5.72s
536:	learn: 0.6624354	total: 6.62s	remaining: 5.71s
537:	learn: 0.6623971	total: 6.64s	remaining: 5.7s
538:	learn: 0.6623584	total: 6.65s	remaining: 5.69s
539:	learn: 0.6623055	total: 6.67s	remaining: 5.68s
540:	learn: 0.6622455	total: 6.68s	remaining: 5.67s
541:	learn: 0.6622019	total: 6.7s	remaining: 5.66s
542:	learn: 0.6621695	total: 6.71s	remaining: 5.65s
543:	learn: 0.6621258	total: 6.73s	remaining: 5.64s
544:	learn: 0.6620817	total: 6.74s	remaining: 5.63s
545:	learn: 0.6620491	total: 6.75s	remaining: 5.62s
546:	learn: 0.6620087	total: 6.77s	remaining: 5.61s
547:	learn: 0.6619597	total: 6.78s	remaining: 5.59s
548:	learn: 0.6619143	total: 6.79s	remaining: 5.58s
549:	learn: 0.6618504	total: 6.81s	remaining: 5.57s
550:	learn: 0.6617961	total: 6.82s	remaining: 5.56s
551:	learn: 0.6617459	total: 6.83s	remaining: 5.55s
552:	learn: 0.6616930	total: 6.85s	remaining: 5.54s
553:	learn: 0.6616364	total: 6.86s	remaining: 5.52s
554:	learn: 0.6616007	total: 6.88s	remaining: 5.51s
555:	learn: 0.6615318	total: 6.89s	remaining: 5.5s
556:	learn: 0.6614978	total: 6.91s	remaining: 5.5s
557:	learn: 0.6614572	total: 6.92s	remaining: 5.49s
558:	learn: 0.6614155	total: 6.94s	remaining: 5.47s
559:	learn: 0.6613806	total: 6.95s	remaining: 5.46s
560:	learn: 0.6613284	total: 6.97s	remaining: 5.45s
561:	learn: 0.6612597	total: 6.98s	remaining: 5.44s
562:	learn: 0.6612167	total: 6.99s	remaining: 5.43s
563:	learn: 0.6611778	total: 7s	remaining: 5.41s
564:	learn: 0.6611266	total: 7.02s	remaining: 5.4s
565:	learn: 0.6610923	total: 7.03s	remaining: 5.39s
566:	learn: 0.6610275	total: 7.04s	remaining: 5.38s
567:	learn: 0.6609698	total: 7.06s	remaining: 5.37s
568:	learn: 0.6609200	total: 7.07s	remaining: 5.36s
569:	learn: 0.6608828	total: 7.09s	remaining: 5.34s
570:	learn: 0.6608383	total: 7.1s	remaining: 5.33s
571:	learn: 0.6607955	total: 7.12s	remaining: 5.33s
572:	learn: 0.6607517	total: 7.13s	remaining: 5.32s
573:	learn: 0.6607081	total: 7.15s	remaining: 5.31s
574:	learn: 0.6606618	total: 7.16s	remaining: 5.29s
575:	learn: 0.6605996	total: 7.17s	remaining: 5.28s
576:	learn: 0.6605649	total: 7.19s	remaining: 5.27s
577:	learn: 0.6605159	total: 7.2s	remaining: 5.26s
578:	learn: 0.6604660	total: 7.21s	remaining: 5.25s
579:	learn: 0.6604307	total: 7.23s	remaining: 5.23s
580:	learn: 0.6603912	total: 7.24s	remaining: 5.22s
581:	learn: 0.6603536	total: 7.26s	remaining: 5.21s
582:	learn: 0.6602862	total: 7.27s	remaining: 5.2s
583:	learn: 0.6602600	total: 7.29s	remaining: 5.19s
584:	learn: 0.6602263	total: 7.31s	remaining: 5.18s
585:	learn: 0.6601995	total: 7.33s	remaining: 5.17s
586:	learn: 0.6601357	total: 7.34s	remaining: 5.17s
587:	learn: 0.6600901	total: 7.36s	remaining: 5.16s
588:	learn: 0.6600655	total: 7.38s	remaining: 5.15s
589:	learn: 0.6600096	total: 7.4s	remaining: 5.14s
590:	learn: 0.6599498	total: 7.42s	remaining: 5.13s
591:	learn: 0.6599076	total: 7.43s	remaining: 5.12s
592:	learn: 0.6598548	total: 7.45s	remaining: 5.11s
593:	learn: 0.6598142	total: 7.47s	remaining: 5.1s
594:	learn: 0.6597600	total: 7.49s	remaining: 5.09s
595:	learn: 0.6597240	total: 7.5s	remaining: 5.08s
596:	learn: 0.6596929	total: 7.52s	remaining: 5.08s
597:	learn: 0.6596346	total: 7.54s	remaining: 5.07s
598:	learn: 0.6595856	total: 7.55s	remaining: 5.05s
599:	learn: 0.6595365	total: 7.57s	remaining: 5.04s
600:	learn: 0.6594974	total: 7.58s	remaining: 5.03s
601:	learn: 0.6594462	total: 7.59s	remaining: 5.02s
602:	learn: 0.6594085	total: 7.61s	remaining: 5.01s
603:	learn: 0.6593683	total: 7.63s	remaining: 5s
604:	learn: 0.6593186	total: 7.64s	remaining: 4.99s
605:	learn: 0.6592835	total: 7.66s	remaining: 4.98s
606:	learn: 0.6592349	total: 7.68s	remaining: 4.97s
607:	learn: 0.6591897	total: 7.69s	remaining: 4.96s
608:	learn: 0.6591301	total: 7.71s	remaining: 4.95s
609:	learn: 0.6590955	total: 7.72s	remaining: 4.94s
610:	learn: 0.6590454	total: 7.74s	remaining: 4.92s
611:	learn: 0.6589944	total: 7.75s	remaining: 4.91s
612:	learn: 0.6589558	total: 7.77s	remaining: 4.9s
613:	learn: 0.6589184	total: 7.78s	remaining: 4.89s
614:	learn: 0.6588541	total: 7.79s	remaining: 4.88s
615:	learn: 0.6588210	total: 7.81s	remaining: 4.87s
616:	learn: 0.6587734	total: 7.82s	remaining: 4.86s
617:	learn: 0.6587162	total: 7.83s	remaining: 4.84s
618:	learn: 0.6586694	total: 7.85s	remaining: 4.83s
619:	learn: 0.6586046	total: 7.86s	remaining: 4.82s
620:	learn: 0.6585558	total: 7.87s	remaining: 4.8s
621:	learn: 0.6585087	total: 7.89s	remaining: 4.79s
622:	learn: 0.6584626	total: 7.9s	remaining: 4.78s
623:	learn: 0.6584256	total: 7.91s	remaining: 4.77s
624:	learn: 0.6583562	total: 7.93s	remaining: 4.76s
625:	learn: 0.6583259	total: 7.95s	remaining: 4.75s
626:	learn: 0.6582755	total: 7.96s	remaining: 4.74s
627:	learn: 0.6582485	total: 7.98s	remaining: 4.73s
628:	learn: 0.6581936	total: 8s	remaining: 4.72s
629:	learn: 0.6581386	total: 8.02s	remaining: 4.71s
630:	learn: 0.6580836	total: 8.04s	remaining: 4.7s
631:	learn: 0.6580332	total: 8.05s	remaining: 4.69s
632:	learn: 0.6579978	total: 8.07s	remaining: 4.68s
633:	learn: 0.6579761	total: 8.09s	remaining: 4.67s
634:	learn: 0.6579332	total: 8.1s	remaining: 4.66s
635:	learn: 0.6578696	total: 8.12s	remaining: 4.65s
636:	learn: 0.6578065	total: 8.14s	remaining: 4.64s
637:	learn: 0.6577602	total: 8.16s	remaining: 4.63s
638:	learn: 0.6577045	total: 8.18s	remaining: 4.62s
639:	learn: 0.6576569	total: 8.19s	remaining: 4.61s
640:	learn: 0.6575811	total: 8.21s	remaining: 4.6s
641:	learn: 0.6575343	total: 8.23s	remaining: 4.59s
642:	learn: 0.6574771	total: 8.25s	remaining: 4.58s
643:	learn: 0.6574259	total: 8.27s	remaining: 4.57s
644:	learn: 0.6573839	total: 8.29s	remaining: 4.56s
645:	learn: 0.6573360	total: 8.3s	remaining: 4.55s
646:	learn: 0.6572876	total: 8.32s	remaining: 4.54s
647:	learn: 0.6572413	total: 8.34s	remaining: 4.53s
648:	learn: 0.6572108	total: 8.36s	remaining: 4.52s
649:	learn: 0.6571686	total: 8.37s	remaining: 4.51s
650:	learn: 0.6571289	total: 8.39s	remaining: 4.5s
651:	learn: 0.6571045	total: 8.4s	remaining: 4.49s
652:	learn: 0.6570555	total: 8.42s	remaining: 4.47s
653:	learn: 0.6570176	total: 8.43s	remaining: 4.46s
654:	learn: 0.6569826	total: 8.45s	remaining: 4.45s
655:	learn: 0.6569487	total: 8.46s	remaining: 4.43s
656:	learn: 0.6568883	total: 8.47s	remaining: 4.42s
657:	learn: 0.6568436	total: 8.48s	remaining: 4.41s
658:	learn: 0.6567971	total: 8.5s	remaining: 4.4s
659:	learn: 0.6567418	total: 8.51s	remaining: 4.38s
660:	learn: 0.6566871	total: 8.52s	remaining: 4.37s
661:	learn: 0.6566416	total: 8.54s	remaining: 4.36s

662:	learn: 0.6565935	total: 8.55s	remaining: 4.35s
663:	learn: 0.6565607	total: 8.57s	remaining: 4.33s
664:	learn: 0.6565336	total: 8.58s	remaining: 4.32s
665:	learn: 0.6564799	total: 8.6s	remaining: 4.31s
666:	learn: 0.6564283	total: 8.61s	remaining: 4.3s
667:	learn: 0.6563849	total: 8.63s	remaining: 4.29s
668:	learn: 0.6563563	total: 8.64s	remaining: 4.27s
669:	learn: 0.6563282	total: 8.65s	remaining: 4.26s
670:	learn: 0.6562699	total: 8.66s	remaining: 4.25s
671:	learn: 0.6562074	total: 8.68s	remaining: 4.24s
672:	learn: 0.6561591	total: 8.69s	remaining: 4.22s
673:	learn: 0.6561142	total: 8.7s	remaining: 4.21s
674:	learn: 0.6560515	total: 8.72s	remaining: 4.2s
675:	learn: 0.6560256	total: 8.73s	remaining: 4.18s
676:	learn: 0.6559834	total: 8.74s	remaining: 4.17s
677:	learn: 0.6559400	total: 8.76s	remaining: 4.16s
678:	learn: 0.6559135	total: 8.77s	remaining: 4.15s
679:	learn: 0.6558642	total: 8.79s	remaining: 4.13s
680:	learn: 0.6558065	total: 8.8s	remaining: 4.12s
681:	learn: 0.6557602	total: 8.82s	remaining: 4.11s
682:	learn: 0.6557160	total: 8.83s	remaining: 4.1s
683:	learn: 0.6556815	total: 8.84s	remaining: 4.08s
684:	learn: 0.6556209	total: 8.86s	remaining: 4.07s
685:	learn: 0.6555790	total: 8.87s	remaining: 4.06s
686:	learn: 0.6555537	total: 8.88s	remaining: 4.05s
687:	learn: 0.6555117	total: 8.9s	remaining: 4.04s
688:	learn: 0.6554746	total: 8.92s	remaining: 4.03s
689:	learn: 0.6554224	total: 8.94s	remaining: 4.01s
690:	learn: 0.6553776	total: 8.95s	remaining: 4s
691:	learn: 0.6553425	total: 8.97s	remaining: 3.99s
692:	learn: 0.6552899	total: 8.99s	remaining: 3.98s
693:	learn: 0.6552253	total: 9s	remaining: 3.97s
694:	learn: 0.6551914	total: 9.02s	remaining: 3.96s
695:	learn: 0.6551375	total: 9.04s	remaining: 3.95s
696:	learn: 0.6550807	total: 9.05s	remaining: 3.94s
697:	learn: 0.6550384	total: 9.07s	remaining: 3.92s
698:	learn: 0.6549850	total: 9.08s	remaining: 3.91s
699:	learn: 0.6549486	total: 9.1s	remaining: 3.9s
700:	learn: 0.6548983	total: 9.12s	remaining: 3.89s
701:	learn: 0.6548386	total: 9.13s	remaining: 3.88s
702:	learn: 0.6548004	total: 9.15s	remaining: 3.87s
703:	learn: 0.6547520	total: 9.16s	remaining: 3.85s
704:	learn: 0.6547053	total: 9.18s	remaining: 3.84s
705:	learn: 0.6546545	total: 9.2s	remaining: 3.83s
706:	learn: 0.6545973	total: 9.21s	remaining: 3.82s
707:	learn: 0.6545472	total: 9.23s	remaining: 3.81s
708:	learn: 0.6544894	total: 9.24s	remaining: 3.79s
709:	learn: 0.6544408	total: 9.26s	remaining: 3.78s
710:	learn: 0.6544023	total: 9.27s	remaining: 3.77s
711:	learn: 0.6543722	total: 9.29s	remaining: 3.76s
712:	learn: 0.6543201	total: 9.31s	remaining: 3.75s
713:	learn: 0.6542744	total: 9.32s	remaining: 3.73s
714:	learn: 0.6541533	total: 9.34s	remaining: 3.72s
715:	learn: 0.6541044	total: 9.35s	remaining: 3.71s
716:	learn: 0.6540608	total: 9.36s	remaining: 3.7s
717:	learn: 0.6540229	total: 9.38s	remaining: 3.68s
718:	learn: 0.6539737	total: 9.39s	remaining: 3.67s
719:	learn: 0.6539226	total: 9.41s	remaining: 3.66s
720:	learn: 0.6538809	total: 9.42s	remaining: 3.65s
721:	learn: 0.6538290	total: 9.44s	remaining: 3.63s
722:	learn: 0.6537779	total: 9.45s	remaining: 3.62s
723:	learn: 0.6537278	total: 9.46s	remaining: 3.61s
724:	learn: 0.6536684	total: 9.47s	remaining: 3.59s
725:	learn: 0.6536207	total: 9.49s	remaining: 3.58s
726:	learn: 0.6535837	total: 9.5s	remaining: 3.57s
727:	learn: 0.6535310	total: 9.51s	remaining: 3.55s
728:	learn: 0.6534825	total: 9.53s	remaining: 3.54s
729:	learn: 0.6534384	total: 9.54s	remaining: 3.53s
730:	learn: 0.6534250	total: 9.55s	remaining: 3.51s
731:	learn: 0.6533768	total: 9.56s	remaining: 3.5s
732:	learn: 0.6533264	total: 9.57s	remaining: 3.49s
733:	learn: 0.6532838	total: 9.59s	remaining: 3.47s
734:	learn: 0.6532510	total: 9.6s	remaining: 3.46s
735:	learn: 0.6531922	total: 9.62s	remaining: 3.45s
736:	learn: 0.6531398	total: 9.63s	remaining: 3.44s
737:	learn: 0.6530892	total: 9.65s	remaining: 3.42s
738:	learn: 0.6530471	total: 9.66s	remaining: 3.41s
739:	learn: 0.6529973	total: 9.68s	remaining: 3.4s
740:	learn: 0.6529640	total: 9.69s	remaining: 3.39s
741:	learn: 0.6529241	total: 9.7s	remaining: 3.37s
742:	learn: 0.6528805	total: 9.72s	remaining: 3.36s
743:	learn: 0.6528314	total: 9.74s	remaining: 3.35s
744:	learn: 0.6527904	total: 9.76s	remaining: 3.34s
745:	learn: 0.6527487	total: 9.77s	remaining: 3.33s
746:	learn: 0.6526944	total: 9.79s	remaining: 3.32s
747:	learn: 0.6526553	total: 9.81s	remaining: 3.3s
748:	learn: 0.6526244	total: 9.82s	remaining: 3.29s
749:	learn: 0.6525854	total: 9.84s	remaining: 3.28s
750:	learn: 0.6525538	total: 9.86s	remaining: 3.27s
751:	learn: 0.6525210	total: 9.87s	remaining: 3.25s
752:	learn: 0.6524817	total: 9.89s	remaining: 3.24s
753:	learn: 0.6524610	total: 9.9s	remaining: 3.23s
754:	learn: 0.6524173	total: 9.92s	remaining: 3.22s
755:	learn: 0.6523606	total: 9.93s	remaining: 3.21s
756:	learn: 0.6523083	total: 9.95s	remaining: 3.19s
757:	learn: 0.6522608	total: 9.97s	remaining: 3.18s
758:	learn: 0.6521941	total: 9.98s	remaining: 3.17s
759:	learn: 0.6521427	total: 10s	remaining: 3.16s
760:	learn: 0.6520901	total: 10s	remaining: 3.15s
761:	learn: 0.6520484	total: 10s	remaining: 3.13s
762:	learn: 0.6519932	total: 10.1s	remaining: 3.12s
763:	learn: 0.6519628	total: 10.1s	remaining: 3.11s
764:	learn: 0.6519120	total: 10.1s	remaining: 3.1s
765:	learn: 0.6518577	total: 10.1s	remaining: 3.09s
766:	learn: 0.6518227	total: 10.1s	remaining: 3.07s
767:	learn: 0.6517805	total: 10.1s	remaining: 3.06s
768:	learn: 0.6517421	total: 10.1s	remaining: 3.05s
769:	learn: 0.6517097	total: 10.2s	remaining: 3.03s
770:	learn: 0.6516736	total: 10.2s	remaining: 3.02s
771:	learn: 0.6516309	total: 10.2s	remaining: 3.01s
772:	learn: 0.6515947	total: 10.2s	remaining: 2.99s
773:	learn: 0.6515395	total: 10.2s	remaining: 2.98s
774:	learn: 0.6515010	total: 10.2s	remaining: 2.96s
775:	learn: 0.6514561	total: 10.2s	remaining: 2.95s
776:	learn: 0.6514081	total: 10.2s	remaining: 2.94s
777:	learn: 0.6513666	total: 10.3s	remaining: 2.93s
778:	learn: 0.6513101	total: 10.3s	remaining: 2.91s
779:	learn: 0.6512697	total: 10.3s	remaining: 2.9s
780:	learn: 0.6512174	total: 10.3s	remaining: 2.89s
781:	learn: 0.6511659	total: 10.3s	remaining: 2.87s
782:	learn: 0.6511270	total: 10.3s	remaining: 2.86s
783:	learn: 0.6510981	total: 10.3s	remaining: 2.85s
784:	learn: 0.6510585	total: 10.3s	remaining: 2.83s
785:	learn: 0.6510076	total: 10.4s	remaining: 2.82s
786:	learn: 0.6509634	total: 10.4s	remaining: 2.81s
787:	learn: 0.6509183	total: 10.4s	remaining: 2.79s
788:	learn: 0.6508673	total: 10.4s	remaining: 2.78s
789:	learn: 0.6508267	total: 10.4s	remaining: 2.77s
790:	learn: 0.6507849	total: 10.4s	remaining: 2.75s
791:	learn: 0.6507397	total: 10.4s	remaining: 2.74s
792:	learn: 0.6507250	total: 10.4s	remaining: 2.73s
793:	learn: 0.6506697	total: 10.5s	remaining: 2.71s
794:	learn: 0.6506288	total: 10.5s	remaining: 2.7s
795:	learn: 0.6505917	total: 10.5s	remaining: 2.69s
796:	learn: 0.6505537	total: 10.5s	remaining: 2.68s
797:	learn: 0.6505116	total: 10.5s	remaining: 2.66s
798:	learn: 0.6504422	total: 10.5s	remaining: 2.65s
799:	learn: 0.6504042	total: 10.6s	remaining: 2.64s
800:	learn: 0.6503511	total: 10.6s	remaining: 2.63s
801:	learn: 0.6503052	total: 10.6s	remaining: 2.61s
802:	learn: 0.6502690	total: 10.6s	remaining: 2.6s
803:	learn: 0.6502245	total: 10.6s	remaining: 2.59s
804:	learn: 0.6501702	total: 10.6s	remaining: 2.58s
805:	learn: 0.6501248	total: 10.7s	remaining: 2.56s
806:	learn: 0.6500583	total: 10.7s	remaining: 2.55s
807:	learn: 0.6499988	total: 10.7s	remaining: 2.54s
808:	learn: 0.6499528	total: 10.7s	remaining: 2.53s
809:	learn: 0.6499182	total: 10.7s	remaining: 2.51s
810:	learn: 0.6498595	total: 10.7s	remaining: 2.5s
811:	learn: 0.6498112	total: 10.7s	remaining: 2.49s
812:	learn: 0.6497774	total: 10.8s	remaining: 2.48s
813:	learn: 0.6497374	total: 10.8s	remaining: 2.46s
814:	learn: 0.6496761	total: 10.8s	remaining: 2.45s
815:	learn: 0.6496426	total: 10.8s	remaining: 2.44s
816:	learn: 0.6496055	total: 10.8s	remaining: 2.42s
817:	learn: 0.6495538	total: 10.8s	remaining: 2.41s
818:	learn: 0.6495114	total: 10.9s	remaining: 2.4s
819:	learn: 0.6494561	total: 10.9s	remaining: 2.39s
820:	learn: 0.6494076	total: 10.9s	remaining: 2.38s
821:	learn: 0.6493756	total: 10.9s	remaining: 2.36s
822:	learn: 0.6493276	total: 10.9s	remaining: 2.35s
823:	learn: 0.6492869	total: 10.9s	remaining: 2.34s
824:	learn: 0.6492513	total: 11s	remaining: 2.32s
825:	learn: 0.6492003	total: 11s	remaining: 2.31s
826:	learn: 0.6491737	total: 11s	remaining: 2.3s
827:	learn: 0.6491160	total: 11s	remaining: 2.28s
828:	learn: 0.6490768	total: 11s	remaining: 2.27s
829:	learn: 0.6490359	total: 11s	remaining: 2.26s
830:	learn: 0.6489927	total: 11s	remaining: 2.24s
831:	learn: 0.6489467	total: 11s	remaining: 2.23s

832:	learn: 0.6489098	total: 11.1s	remaining: 2.22s
833:	learn: 0.6488555	total: 11.1s	remaining: 2.2s
834:	learn: 0.6488147	total: 11.1s	remaining: 2.19s
835:	learn: 0.6487739	total: 11.1s	remaining: 2.18s
836:	learn: 0.6487311	total: 11.1s	remaining: 2.16s
837:	learn: 0.6486910	total: 11.1s	remaining: 2.15s
838:	learn: 0.6486551	total: 11.1s	remaining: 2.14s
839:	learn: 0.6486180	total: 11.2s	remaining: 2.12s
840:	learn: 0.6485781	total: 11.2s	remaining: 2.11s
841:	learn: 0.6485465	total: 11.2s	remaining: 2.1s
842:	learn: 0.6485112	total: 11.2s	remaining: 2.08s
843:	learn: 0.6484763	total: 11.2s	remaining: 2.07s
844:	learn: 0.6484424	total: 11.2s	remaining: 2.06s
845:	learn: 0.6483869	total: 11.2s	remaining: 2.04s
846:	learn: 0.6483483	total: 11.2s	remaining: 2.03s
847:	learn: 0.6483237	total: 11.3s	remaining: 2.02s
848:	learn: 0.6482767	total: 11.3s	remaining: 2s
849:	learn: 0.6482310	total: 11.3s	remaining: 1.99s
850:	learn: 0.6481895	total: 11.3s	remaining: 1.98s
851:	learn: 0.6481311	total: 11.3s	remaining: 1.96s
852:	learn: 0.6481119	total: 11.3s	remaining: 1.95s
853:	learn: 0.6480522	total: 11.3s	remaining: 1.94s
854:	learn: 0.6480092	total: 11.3s	remaining: 1.92s
855:	learn: 0.6479613	total: 11.4s	remaining: 1.91s
856:	learn: 0.6479210	total: 11.4s	remaining: 1.9s
857:	learn: 0.6478779	total: 11.4s	remaining: 1.88s
858:	learn: 0.6478336	total: 11.4s	remaining: 1.87s
859:	learn: 0.6477809	total: 11.4s	remaining: 1.86s
860:	learn: 0.6477406	total: 11.4s	remaining: 1.84s
861:	learn: 0.6477213	total: 11.4s	remaining: 1.83s
862:	learn: 0.6476663	total: 11.4s	remaining: 1.82s
863:	learn: 0.6476188	total: 11.5s	remaining: 1.8s
864:	learn: 0.6475685	total: 11.5s	remaining: 1.79s
865:	learn: 0.6475099	total: 11.5s	remaining: 1.78s
866:	learn: 0.6474621	total: 11.5s	remaining: 1.76s
867:	learn: 0.6474101	total: 11.5s	remaining: 1.75s
868:	learn: 0.6473728	total: 11.5s	remaining: 1.74s
869:	learn: 0.6473467	total: 11.5s	remaining: 1.72s
870:	learn: 0.6473101	total: 11.5s	remaining: 1.71s
871:	learn: 0.6472454	total: 11.6s	remaining: 1.7s
872:	learn: 0.6472218	total: 11.6s	remaining: 1.68s
873:	learn: 0.6471788	total: 11.6s	remaining: 1.67s
874:	learn: 0.6471369	total: 11.6s	remaining: 1.66s
875:	learn: 0.6470894	total: 11.6s	remaining: 1.64s
876:	learn: 0.6470468	total: 11.6s	remaining: 1.63s
877:	learn: 0.6470167	total: 11.6s	remaining: 1.62s
878:	learn: 0.6469786	total: 11.7s	remaining: 1.6s
879:	learn: 0.6469406	total: 11.7s	remaining: 1.59s
880:	learn: 0.6468994	total: 11.7s	remaining: 1.58s
881:	learn: 0.6468450	total: 11.7s	remaining: 1.57s
882:	learn: 0.6468007	total: 11.7s	remaining: 1.55s
883:	learn: 0.6467648	total: 11.7s	remaining: 1.54s
884:	learn: 0.6467266	total: 11.8s	remaining: 1.53s
885:	learn: 0.6466937	total: 11.8s	remaining: 1.51s
886:	learn: 0.6466469	total: 11.8s	remaining: 1.5s
887:	learn: 0.6465981	total: 11.8s	remaining: 1.49s
888:	learn: 0.6465698	total: 11.8s	remaining: 1.48s
889:	learn: 0.6465345	total: 11.8s	remaining: 1.46s
890:	learn: 0.6464885	total: 11.9s	remaining: 1.45s
891:	learn: 0.6464444	total: 11.9s	remaining: 1.44s
892:	learn: 0.6464088	total: 11.9s	remaining: 1.43s
893:	learn: 0.6463728	total: 11.9s	remaining: 1.41s
894:	learn: 0.6463179	total: 11.9s	remaining: 1.4s
895:	learn: 0.6462787	total: 11.9s	remaining: 1.39s
896:	learn: 0.6462269	total: 12s	remaining: 1.37s
897:	learn: 0.6461819	total: 12s	remaining: 1.36s
898:	learn: 0.6461325	total: 12s	remaining: 1.35s
899:	learn: 0.6460844	total: 12s	remaining: 1.33s
900:	learn: 0.6460275	total: 12s	remaining: 1.32s
901:	learn: 0.6459911	total: 12.1s	remaining: 1.31s
902:	learn: 0.6459574	total: 12.1s	remaining: 1.29s
903:	learn: 0.6459152	total: 12.1s	remaining: 1.28s
904:	learn: 0.6458776	total: 12.1s	remaining: 1.27s
905:	learn: 0.6458368	total: 12.1s	remaining: 1.25s
906:	learn: 0.6457942	total: 12.1s	remaining: 1.24s
907:	learn: 0.6457589	total: 12.1s	remaining: 1.23s
908:	learn: 0.6456948	total: 12.1s	remaining: 1.22s
909:	learn: 0.6456607	total: 12.2s	remaining: 1.2s
910:	learn: 0.6456236	total: 12.2s	remaining: 1.19s
911:	learn: 0.6456062	total: 12.2s	remaining: 1.18s
912:	learn: 0.6455510	total: 12.2s	remaining: 1.16s
913:	learn: 0.6455119	total: 12.2s	remaining: 1.15s
914:	learn: 0.6454643	total: 12.2s	remaining: 1.14s
915:	learn: 0.6454337	total: 12.3s	remaining: 1.12s
916:	learn: 0.6454011	total: 12.3s	remaining: 1.11s
917:	learn: 0.6453627	total: 12.3s	remaining: 1.1s
918:	learn: 0.6453188	total: 12.3s	remaining: 1.08s
919:	learn: 0.6452616	total: 12.3s	remaining: 1.07s
920:	learn: 0.6452136	total: 12.3s	remaining: 1.06s
921:	learn: 0.6451733	total: 12.4s	remaining: 1.04s
922:	learn: 0.6451244	total: 12.4s	remaining: 1.03s
923:	learn: 0.6450774	total: 12.4s	remaining: 1.02s
924:	learn: 0.6450417	total: 12.4s	remaining: 1.01s
925:	learn: 0.6449930	total: 12.4s	remaining: 993ms
926:	learn: 0.6449508	total: 12.4s	remaining: 980ms
927:	learn: 0.6449094	total: 12.5s	remaining: 967ms
928:	learn: 0.6448548	total: 12.5s	remaining: 954ms
929:	learn: 0.6447956	total: 12.5s	remaining: 941ms
930:	learn: 0.6447583	total: 12.5s	remaining: 928ms
931:	learn: 0.6447358	total: 12.5s	remaining: 915ms
932:	learn: 0.6446839	total: 12.6s	remaining: 901ms
933:	learn: 0.6446369	total: 12.6s	remaining: 888ms
934:	learn: 0.6445773	total: 12.6s	remaining: 875ms
935:	learn: 0.6445412	total: 12.6s	remaining: 862ms
936:	learn: 0.6444950	total: 12.6s	remaining: 848ms
937:	learn: 0.6444475	total: 12.6s	remaining: 835ms
938:	learn: 0.6444235	total: 12.6s	remaining: 821ms
939:	learn: 0.6443890	total: 12.7s	remaining: 808ms
940:	learn: 0.6443379	total: 12.7s	remaining: 794ms
941:	learn: 0.6442847	total: 12.7s	remaining: 780ms
942:	learn: 0.6442328	total: 12.7s	remaining: 767ms
943:	learn: 0.6441961	total: 12.7s	remaining: 753ms
944:	learn: 0.6441605	total: 12.7s	remaining: 740ms
945:	learn: 0.6441294	total: 12.7s	remaining: 727ms
946:	learn: 0.6440924	total: 12.7s	remaining: 713ms
947:	learn: 0.6440477	total: 12.8s	remaining: 700ms
948:	learn: 0.6440051	total: 12.8s	remaining: 687ms
949:	learn: 0.6439607	total: 12.8s	remaining: 673ms
950:	learn: 0.6439324	total: 12.8s	remaining: 660ms
951:	learn: 0.6438911	total: 12.8s	remaining: 646ms
952:	learn: 0.6438466	total: 12.8s	remaining: 633ms
953:	learn: 0.6438034	total: 12.8s	remaining: 619ms
954:	learn: 0.6437637	total: 12.9s	remaining: 606ms
955:	learn: 0.6437044	total: 12.9s	remaining: 593ms
956:	learn: 0.6436465	total: 12.9s	remaining: 580ms
957:	learn: 0.6436083	total: 12.9s	remaining: 566ms
958:	learn: 0.6435601	total: 12.9s	remaining: 553ms
959:	learn: 0.6435201	total: 13s	remaining: 540ms
960:	learn: 0.6434757	total: 13s	remaining: 526ms
961:	learn: 0.6434235	total: 13s	remaining: 513ms
962:	learn: 0.6433861	total: 13s	remaining: 500ms
963:	learn: 0.6433402	total: 13s	remaining: 486ms
964:	learn: 0.6432991	total: 13s	remaining: 473ms
965:	learn: 0.6432535	total: 13.1s	remaining: 460ms
966:	learn: 0.6431949	total: 13.1s	remaining: 446ms
967:	learn: 0.6431580	total: 13.1s	remaining: 433ms
968:	learn: 0.6431301	total: 13.1s	remaining: 419ms
969:	learn: 0.6430713	total: 13.1s	remaining: 406ms
970:	learn: 0.6430175	total: 13.1s	remaining: 393ms
971:	learn: 0.6429878	total: 13.2s	remaining: 379ms
972:	learn: 0.6429294	total: 13.2s	remaining: 366ms
973:	learn: 0.6428969	total: 13.2s	remaining: 352ms
974:	learn: 0.6428627	total: 13.2s	remaining: 339ms
975:	learn: 0.6428217	total: 13.2s	remaining: 325ms
976:	learn: 0.6427747	total: 13.2s	remaining: 312ms
977:	learn: 0.6427364	total: 13.3s	remaining: 298ms
978:	learn: 0.6427039	total: 13.3s	remaining: 285ms
979:	learn: 0.6426683	total: 13.3s	remaining: 271ms
980:	learn: 0.6426166	total: 13.3s	remaining: 257ms
981:	learn: 0.6425695	total: 13.3s	remaining: 244ms
982:	learn: 0.6425229	total: 13.3s	remaining: 230ms
983:	learn: 0.6424953	total: 13.3s	remaining: 217ms
984:	learn: 0.6424567	total: 13.3s	remaining: 203ms
985:	learn: 0.6424430	total: 13.4s	remaining: 190ms
986:	learn: 0.6424115	total: 13.4s	remaining: 176ms
987:	learn: 0.6423817	total: 13.4s	remaining: 163ms
988:	learn: 0.6423396	total: 13.4s	remaining: 149ms
989:	learn: 0.6423064	total: 13.4s	remaining: 135ms
990:	learn: 0.6422622	total: 13.4s	remaining: 122ms
991:	learn: 0.6422157	total: 13.4s	remaining: 108ms
992:	learn: 0.6421539	total: 13.4s	remaining: 94.8ms
993:	learn: 0.6421013	total: 13.5s	remaining: 81.2ms
994:	learn: 0.6420373	total: 13.5s	remaining: 67.7ms
995:	learn: 0.6419951	total: 13.5s	remaining: 54.2ms
996:	learn: 0.6419626	total: 13.5s	remaining: 40.6ms
997:	learn: 0.6419306	total: 13.5s	remaining: 27.1ms
998:	learn: 0.6418864	total: 13.5s	remaining: 13.5ms
999:	learn: 0.6418443	total: 13.5s	remaining: 0us

Pipeline(steps=[('columns_transformer',
                 ColumnTransformer(transformers=[('StandardScaler',
                                                  StandardScaler(),
                                                  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                                                   10, 11, 12, 13, 14, 15, 16,
                                                   17, 18, 19, 20, 21, 22, 24,
                                                   25, 26, 27, 28, 29, 30, ...]),
                                                 ('OneHotEncoder',
                                                  OneHotEncoder(),
                                                  [23, 31, 32])])),
                ('catboost',
                 <catboost.core.CatBoostClassifier object at 0x7fe8dad903a0>)])

In [104]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()

pipe_log = Pipeline([('columns_transformer', columns_transformer),
                     ('log_reg', LogisticRegression())])

pipe_log.fit(X, y)

/Users/vadimbaev/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('columns_transformer',
                 ColumnTransformer(transformers=[('StandardScaler',
                                                  StandardScaler(),
                                                  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                                                   10, 11, 12, 13, 14, 15, 16,
                                                   17, 18, 19, 20, 21, 22, 24,
                                                   25, 26, 27, 28, 29, 30, ...]),
                                                 ('OneHotEncoder',
                                                  OneHotEncoder(),
                                                  [23, 31, 32])])),
                ('log_reg', LogisticRegression())])